@charset "UTF-8";
/******CSS top*******/

/*side*/

	



#contents_right section.recommend_area {
	width: 100%;
	margin-bottom: 20px;
}
#contents_right section.ranking_area {
	width: 100%;
}
#contents_right section.ranking_area h2 {
	text-align: center;
}
#contents_right .ranking {
	width: 260px;
	margin: 0 auto;
	padding: 0px 0 15px;
	overflow: hidden;
}
#contents_right .ranking ol {
	margin: 0 auto;
	overflow: hidden;
	width: 220px;
}
#contents_right .ranking dt {
	float: left;
	width: 43px;
}
#contents_right .ranking dd {
	float: left;
	width: 160px;
	line-height: 24px;
	margin-left: 10px;
}
#contents_right .ranking dd p {
	font-size: 11px;
	margin-bottom: 10px;
}
#contents_right .ranking dd a {
	color: #e1522a;
	text-decoration: none;
}
#contents_right .ranking dd a:hover {
	color: #e1522a;
	text-decoration: underline;
}
/* バナー */


.bnr_box {
	padding: 26px 0;
	width: 814px;
}
.bnr_box01, .bnr_box02, .bnr_box04, .bnr_box05 {
	overflow: hidden;
	margin: 0 auto;
	width: 814px;
}
.bnr_box03 {
	width: 628px;
	float: right;
}
.a01 {
	float: left;
	width: 374px;
}
.b01 {
	width: 440px;
	float: left;
}
.tanekichi {
	width: 860px;
	margin: 0 auto;
	position: relative;
}
.tanekichi img {
	position: absolute;
	left: -210px;
	z-index: 9999;
	top: 376px;
}
.facebook_box {
	width: 440px;
	float: right;
	background: #FFF;
}

/*施工事例展示などのindex*/


.event_box_s{
	margin: 0 auto;
    overflow: hidden;
    padding-bottom: 20px;
    width: 700px;
	}
	
.event_box_s li.mr12{
	margin-right:25px;
	}
	
.event_box_s li{
	float:left;
	}	

/* イベント */	
	
.event_index {
	width: 440px;
	float: left;
}
.event_index .event_box {
	overflow: auto;
	background: #FFF;
	border: 1px solid #147e7e;
	padding: 10px 0;
	width: 438px;
	height: 157px;
}
.event_index .event_box02 {
	overflow: auto;
	background: #FFF;
	border: 1px solid #467bcc;
	padding: 10px 0 10px 0px;
	width: 438px;
	height: 157px;
}
.event_index .event_box .box_event, .event_index .event_box02 .box_event {
	width: 130px;
	float: left;
	margin-left: 6px;
}
.event_index .event_box02 .box_event ul, .event_index .event_box .box_event ul {
	margin-top: 5px;
}
.event_index .event_box .box_event ul li, .event_index .event_box02 .box_event ul li {
	padding-bottom: 2px;
	margin-bottom: 5px;
	border-bottom: 1px #467bcc solid;
}
.event_index .event_box .box_event ul li span {
	width: 128px;
	overflow: hidden;
	display: block;
	height: 59px;
	border: 1px solid #006e6f;
}
.event_index .event_box02 .box_event ul li span {
	width: 128px;
	overflow: hidden;
	display: block;
	height: 59px;
	border: 1px solid #467bcc;
}
.event_index .event_box .box_event ul li span img, .event_index .event_box02 .box_event ul li span img {
	width: 100%;
}
.event_index .event_box02 .box_event time, .event_index .event_box .box_event time {
	font-weight: bold;
}
.event_index .event_box02 .box_event a, .event_index .event_box .box_event a {
	color: #ea5900;
}
.event_index .event_box02 .box_event a:hover, .event_index .event_box .box_event a:hover {
	color: #ffa135;
}
.event_index .event_box02 .box_event ul li img, .event_index .event_box .box_event ul li img {
	margin-bottom: 5px;
}
/* インフォメーション */	
	
.information_index {
	width: 630px;
	float: left;
}
.information_index .event_box {
	overflow: auto;
	background: #FFF;
	border: 1px solid #147e7e;
	padding: 10px 0;
	width: 628px;
	height: 157px;
}
.information_index .event_box02 {
	overflow: auto;
	background: #FFF;
	border: 1px solid #467bcc;
	padding: 10px 0 10px 0px;
	width: 628px;
	height: 157px;
}
.information_index .event_box .box_event, .information_index .event_box02 .box_event {
	width: 130px;
	float: left;
	margin-left: 10px;
}
.information_index .event_box02 .box_event ul, .information_index .event_box .box_event ul {
	margin-top: 5px;
}
.information_index .event_box .box_event ul li, .information_index .event_box02 .box_event ul li {
	padding-bottom: 2px;
	margin-bottom: 5px;
	border-bottom: 1px #467bcc solid;
}
.information_index .event_box .box_event ul li span {
	width: 128px;
	overflow: hidden;
	display: block;
	height: 59px;
	border: 1px solid #006e6f;
}
.information_index .event_box02 .box_event ul li span {
	width: 128px;
	overflow: hidden;
	display: block;
	height: 59px;
	border: 1px solid #467bcc;
}
.information_index .event_box .box_event ul li span img, .information_index .event_box02 .box_event ul li span img {
	width: 100%;
}
.information_index .event_box02 .box_event time, .information_index .event_box .box_event time {
	font-weight: bold;
}
.information_index .event_box02 .box_event a, .information_index .event_box .box_event a {
	color: #ea5900;
}
.information_index .event_box02 .box_event a:hover, .information_index .event_box .box_event a:hover {
	color: #ffa135;
}
.information_index .event_box02 .box_event ul li img, .information_index .event_box .box_event ul li img {
	margin-bottom: 5px;
}
.information_index .pa_boder01 {
	border-right: solid 1px #008081;
	padding-right: 12px;
}
.pa_boder01 {
	border-right: solid 1px #008081;
	padding-right: 5px;
}
.pa_boder02 {
	border-right: solid 1px #467bcc;
	padding-right: 5px;
}
#blog_right {
	text-align: center;
}
#blog_right h2 {
	margin-bottom: 5px;
}
#blog_right ul {
	margin-top: 20px;
}
#blog_right ul li {
	margin-bottom: 5px;
}
/* お問い合わせ*/
#contents_bg #contents_left #inner_content {
	position: relative;
	z-index: 1;
}
#contents_bg #contents_left #inner_content p {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}
#contents_bg #contents_left #inner_content h2 {
	padding-top: 25px;
	margin-bottom: 32px;
}
#contents_bg #contents_left #inner_content h3 {
	width: 760px;
	border-bottom: 4px solid #019393;
	padding-bottom: 4px;
	margin-bottom: 11px;
}
#contents_bg #contents_left #inner_content .reservation {
	width: 754px;
	margin-bottom: 55px;
	border: 4px solid #019393;
	background: #ffff96;
}
#contents_bg #contents_left #inner_content .reservation table {
	width: 551px;
	margin: 36px auto 0;
	border-left: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .reservation table th {
	width: 160px;
	background: #db0011;
	font-size: 16px;
	color: #fff;
	padding: 10px;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .reservation table td {
	background: #fff;
	padding: 10px;
	font-size: 16px;
	vertical-align: top;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .reservation div.p {
	text-align: center;
	width: 250px;
	margin: 6px auto 36px;
	font-size: 12px;
}
#contents_bg #contents_left #inner_content span.illust {
	position: absolute;
	z-index: 100;
	left: 580px;
	top: 310px;
}
#contents_bg #contents_left #inner_content span.illust_1 {
	position: absolute;
	z-index: 100;
	left: 610px;
	top: 1510px;
}
#contents_bg #contents_left #inner_content span.illust_2 {
	position: absolute;
	z-index: 100;
	left: 610px;
	top: 980px;
}
#contents_bg #contents_left #inner_content span.illust_3 {
	position: absolute;
	z-index: 100;
	left: 610px;
	top: 1290px;
}
#contents_bg #contents_left #inner_content span.illust_4 {
	position: absolute;
	z-index: 100;
	left: 610px;
	top: 1500px;
}
#contents_bg #contents_left #inner_content span.illust_5 {
	position: absolute;
	z-index: 100;
	left: -21px;
	top: 464px;
}
#contents_bg #contents_left #inner_content .plan, #contents_bg #contents_left #inner_content .price {
	width: 754px;
	margin-bottom: 55px;
	border: 4px solid #019393;
	background: #ffff96;
}
#contents_bg #contents_left #inner_content .plan table, #contents_bg #contents_left #inner_content .price table {
	width: 680px;
	margin: 36px auto;
	border-left: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .plan table th, #contents_bg #contents_left #inner_content .price table th {
	width: 160px;
	background: #db0011;
	font-size: 16px;
	color: #fff;
	padding: 6px 10px;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .plan table td, #contents_bg #contents_left #inner_content .price table td {
	background: #fff;
	padding: 6px 10px;
	font-size: 16px;
	vertical-align: top;
	border-bottom: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content .plan table .br_none, #contents_bg #contents_left #inner_content .price table .br_none {
	border-right: 0px;
}
#contents_bg #contents_left #inner_content .plan table .bb_none, #contents_bg #contents_left #inner_content .price table .bb_none {
	border-bottom: 0px;
}
#contents_bg #contents_left #inner_content #form_area {
	width: 770px;
}
#contents_bg #contents_left #inner_content #form_area table {
	border-left: 1px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content #form_area table th {
	background: #ea8100;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 10px;
	font-size: 12px;
	color: #fff;
	width: 158px;
}
#contents_bg #contents_left #inner_content #form_area table td {
	background: #fff;
	border-right: 1px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	padding: 10px;
	width: 558px;
}
#contents_bg #contents_left #inner_content #form_area table td input {
	height: 25px;
	background: #e9e9e9;
	border: 1px solid #cdcdcd;
	vertical-align: middle;
}
#contents_bg #contents_left #inner_content #form_area table td input.w67 {
	width: 67px;
}
#contents_bg #contents_left #inner_content #form_area table td input.w125 {
	width: 125px;
}
#contents_bg #contents_left #inner_content #form_area table td input.w168 {
	width: 168px;
}
#contents_bg #contents_left #inner_content #form_area table td input.w318 {
	width: 318px;
}
#contents_bg #contents_left #inner_content #form_area table td textarea.ta_width {
	width: 400px;
	height: 250px;
	background: #e9e9e9;
	border: 1px solid #cdcdcd;
}
#contents_bg #contents_left #inner_content #form_area table td dl.mb10 {
	margin-bottom: 10px;
}
#contents_bg #contents_left #inner_content #form_area table td .set {
	margin: 0 10px;
}
#contents_bg #contents_left #inner_content #form_area table td dl {
	overflow: hidden;
}
#contents_bg #contents_left #inner_content #form_area table td dl dt {
	min-width: 60px;
	margin-right: 10px;
	margin-top: 5px;
	float: left;
	display: block;
	text-align: right;
}
#contents_bg #contents_left #inner_content #form_area table td dl dd {
	min-width: 60px;
	float: left;
	display: block;
}
#contents_bg #contents_left #inner_content #form_area table td dl dd.mr30 {
	margin-right: 30px;
}
#contents_bg #contents_left #inner_content #form_area .submit {
	width: 248px;
	margin: 30px auto;
}
#contents_bg #contents_left #inner_content #form_area .submit button {
	border: 0px;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}
#contents_bg #contents_left #inner_content #form_area .submit .btn_bg {
	width: 248px;
	height: 49px;
	background: url("/wp-content/themes/nopy/images/form/btn_01.jpg") no-repeat left top;
}
#contents_bg #contents_left #inner_content #form_area .submit .btn_bg:hover {
	width: 248px;
	height: 49px;
	background: url("/wp-content/themes/nopy/images/form/btn_01_ov.jpg") no-repeat left top;
}
/* サイドメニュー */

#right_nav {
	width: 230px;
	margin: 0 auto;
}
#right_nav ul a {
	width: 228px;
	overflow: hidden;
	height: 20px;
	display: block;
	text-decoration: none;
	color: #FFF;
}
#right_nav ul {
	background: url("/wp-content/themes/nopy/images/common/right_nav_bg.png");
	border: 1px solid #006060;
	margin-bottom: 20px;
}
#right_nav ul li {
	width: 228px;
	margin: 0 auto;
	color: #FFF;
	padding: 2px 0;
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	background: url("/wp-content/themes/nopy/images/common/right_nav_bg_li.jpg") repeat-x top;
}
#right_nav ul li ul {
	background: none;
	border: none;
	margin-bottom: 0;
}
#right_nav ul li ul li {
	line-height: 18px;
	font-size: 14px;
	text-align: left;
	width: 190px;
	padding-left: 16px;
	margin: 10px auto 0px;
	border: none;
	color: #FFF;
	background: url("/wp-content/themes/nopy/images/common/right_nav_bg_icon.png") no-repeat left top;
}
#right_nav ul li ul li a {
	color: #000;
	width: 200px;
	overflow: hidden;
	height: 19px;
	display: block;
}
#right_nav ul li ul li ul li a {
	color: #000;
	width: 160px;
	overflow: hidden;
	height: 19px;
	display: block;
}
/*つぶやき*/


.twiit {
	overflow: hidden;
	margin: 20px auto;
	width: 814px;
}
.twiit img {
	margin-right: 2px;
}
#staf_index {
	width: 749px;
	margin: 0 auto;
}
#staf_index h2 {
	margin-bottom: 10px;
}
.search_box {
	width: 749px;
	margin: 0 auto;
}
.search_box h3 {
	margin: 0 !important;
}
.search_box p {
	margin: 0 !important;
}


.search_contents01 {
	width: 741px;
	padding:0px 0 80px;
	margin-bottom:20px;
	background: url("/wp-content/themes/nopy/images/staff/top/yakusyoku_bg.jpg") no-repeat top;
	
}

.search_contents02 {
	width: 741px;
	padding:20px 0 100px;
	margin-bottom:20px;
	background: #ffff96;
	background: url("/wp-content/themes/nopy/images/staff/top/ime-ji_bg.jpg") no-repeat top;
	
}
.search_contents01 br,
.search_contents02 br {
	display: none;
}
.search_check01 {
	width: 396px;
	padding: 20px 0;
	margin: 0 auto;
	overflow: hidden;
}
.search_check01 li {
	width: 79px;
	margin: 0 10px 10px;
	text-align: center;
	float: left;
}
.search_check02 {
	width: 495px;
	padding: 20px 0;
	margin: 0 auto;
	overflow: hidden;
}
.search_check02 li {
	width: 79px;
	margin: 0 10px 10px;
	text-align: center;
	float: left;
}
.m01l {
	margin-left: 60px !important;
}
.m02l {
	margin-left: 60px !important;
}
.search_bt {
	padding: 10px 0 20px;
	text-align: center;
}
.search_check03 {
	width: 749px;
	background: url("/wp-content/themes/nopy/images/staff/top/kekka.jpg") no-repeat top #d9f3f4;
	margin: 0 auto;
}
.search_check03 ul {
	overflow: hidden;
}
.search_check03 li {
	float: left;
	width: 182px;
	padding: 10px 0;
	height: 140px;
	background: url("../images/staff/top/staff_bg.png") no-repeat left top;
	margin: 10px 0px 10px 5px;
}
.search_check03 li img {
	margin-left: 5px;
	float: left;
}
.search_check03 li span {
	float: right;
	width: 98px;
	margin: 10px 0 30px;
	color: #FFF;
	font-size: 12px;
	padding: 2px 2px 2px 4px;
	
}
.search_check03 li a {
	float: right;
	width:77px;
	display:block;
	margin-right:20px;
	height:20px;
	background: url("../images/staff/top/bt.png") no-repeat left top;
	text-indent:-9999px;
}
.side_bnr {
	padding-top: 20px;
	width: 260px;
}
.side_bnr li {
	text-align: center;
	margin-bottom: 5px;
}
/* 施工事例とか */			
			
#voice_con, #reform_con, #sekou_con {
	width: 754px;
	margin: 0 auto;
}
.voice_con, .reform_con, .sekou_con {
	width: 754px;
	padding: 10px 0;
	margin: 0 auto;
	font-size: 13px;
	overflow: hidden;
}
#voice_con h3.voice, #reform_con h3.reform, #sekou_con h3.sekou {
	padding: 5px 10px 10px 10px;
	background: url("../images/custom/title_bg.jpg") no-repeat left top;
}
/* 施工事例 */

.sekou_con {
	margin: 0 auto;
	width: 754px;
	overflow: hidden;
}
.sekou_con img {
	margin-bottom: 5px;
}
.sekou_con p {
	margin: 5px 0 10px;
	font-size: 13px;
}
/* 施工事例01 */	
.sekou_con_l01 {
	float: left;
	width: 270px;
}
.sekou_con_r01 {
	float: right;
	width: 470px;
}
.sekou_con img {
	width: 100%;
}
.sekou_con_l02 {
	float: left;
	width: 365px;
}
.sekou_con_r02 {
	float: right;
	width: 365px;
}
.sekou_con_l03 {
	float: left;
	width: 470px;
}
.sekou_con_r03 {
	float: right;
	width: 260px;
}
/* 施工事例02 */			
			
.sekou_con_l01_01 {
	float: left;
	width: 365px;
}
.sekou_con_r01_01 {
	float: right;
	width: 365px;
}
.sekou_con_l02_01 {
	float: left;
	width: 263px;
}
.sekou_con_r02_01 {
	float: right;
	width: 450px;
}
/* 施工事例03 */	
.sekou_con_l01_03 {
	float: left;
	width: 270px;
}
.sekou_con_r01_03 {
	float: right;
	width: 470px;
}
.sekou_con img {
	width: 100%;
}
.sekou_con_l02_03 {
	float: left;
	width: 365px;
}
.sekou_con_r02_03 {
	float: right;
	width: 365px;
}
.sekou_con_l03_03 {
	float: left;
	width: 260px;
}
.sekou_con_r03_03 {
	float: right;
	width: 470px;
}
.madori {
	width: 440px;
	float: left;
}
.madori img {
	width: 100%;
}
.tenji_j {
	float: right;
	width: 300px;
}
/* リフォーム 画像部分01 */			
		
.reform_con .b_no01-box01, .reform_con .a_no01-box01 {
	margin: 0 auto;
	width: 520px;
}
.reform_con .b_no01-box02 {
	width: 754px;
	margin: 0 auto;
	overflow: hidden;
}
.reform_con .a_no01-box02 {
	width: 754px;
	margin: 0 auto;
	overflow: hidden;
}
.reform_con .a_no01-box02_l {
	float: left;
	width: 430px;
}
.reform_con .a_no01-box02_r {
	float: right;
	overflow: hidden;
	width: 305px;
}
.reform_con .a_no01-box02_r img {
	margin-bottom: 15px;
}
.reform_con .a_no01-box02_l01 {
	float: left;
	width: 140px;
}
.reform_con .a_no01-box02_r02 {
	float: right;
	width: 140px;
}
.reform_con .b_no03-box01_l {
	float: left;
	width: 430px;
}
.reform_con .b_no03-box01_r {
	float: right;
	width: 305px;
}
.reform_con .a_no03-box01_l {
	float: right;
	width: 430px;
}
.reform_con .a_no03-box01_r {
	float: left;
	overflow: hidden;
	width: 305px;
}
.reform_con .a_no03-box01_r img {
	margin-bottom: 15px;
}
.reform_con .a_no03-box02_l01 {
	float: left;
	width: 140px;
}
.reform_con .a_no03-box02_r02 {
	float: right;
	width: 140px;
}
.reform_con h4.after {
	font-size: 38px;
	color: #ec6104 !important;
	border-bottom: #ec6104 dashed 2px;
}
.reform_con h4.before {
	font-size: 38px;
	color: #00b92b !important;
	border-bottom: #00b92b dashed 2px;
}
.reform_con .b_no01-box01 img, .reform_con .a_no01-box01 img, .reform_con .a_no01-box02 img, .reform_con .a_no01-box02_l img, .reform_con .a_no01-box02_r img, .reform_con .a_no01-box02_l01 img, .reform_con .a_no01-box02_r02 img, .reform_con .b_no03-box01_l img, .reform_con .b_no03-box01_r img, .reform_con .a_no03-box01_l img, .reform_con .a_no03-box01_r img, .reform_con .a_no03-box02_l01 img, .reform_con .a_no03-box02_r02 img {
	width: 100%;
}
/* お客様の声 画像部分01 */	
	
.voice_con .no01-box01 {
	width: 223px;
	margin-right: 20px;
	float: left;
}
.voice_con .no01-box02 {
	width: 277px;
	margin-right: 20px;
	float: left;
}
.voice_con .no01-box03 {
	width: 210px;
	float: left;
}
.voice_con .no01-box04 {
	width: 230px;
	margin-right: 20px;
	float: left;
}
.voice_con .no01-box05 {
	width: 500px;
	float: left;
}
.voice_con .no01-box06 {
	width: 235px;
	margin-right: 20px;
	float: left;
}
.voice_con .no01-box07 {
	width: 235px;
	margin-right: 20px;
	float: left;
}
.voice_con .no01-box08 {
	width: 235px;
	float: left;
}
.voice_con .no01-box01 img, .voice_con .no01-box02 img, .voice_con .no01-box03 img, .voice_con .no01-box04 img, .voice_con .no01-box05 img, .voice_con .no01-box06 img, .voice_con .no01-box07 img, .voice_con .no01-box08 img, #voice_q .q01_box_r img {
	margin-bottom: 5px;
	width: 100%;
}
/* お客様の声 画像部分02 */	

.voice_con .no02-box01 {
	width: 370px;
	float: left;
}
.voice_con .no02-box02 {
	width: 370px;
	float: right;
}
.voice_con .no02-box03 {
	width: 500px;
	float: left;
}
.voice_con .no02-box04 {
	width: 230px;
	float: right;
}
.voice_con .no02-box05 {
	width: 235px;
	margin-right: 20px;
	float: left;
}
.voice_con .no02-box06 {
	width: 235px;
	margin-right: 20px;
	float: left;
}
.voice_con .no02-box07 {
	width: 235px;
	float: left;
}
.voice_con .no02-box01 img, .voice_con .no02-box02 img, .voice_con .no02-box03 img, .voice_con .no02-box04 img, .voice_con .no02-box05 img, .voice_con .no02-box06 img, .voice_con .no02-box07 img, .voice_con .no02-box08 img {
	margin-bottom: 5px;
	width: 100%;
}
/* お客様の声 画像部分02 */	

.voice_con .no03-box01 {
	width: 230px;
	float: left;
}
.voice_con .no03-box02 {
	width: 500px;
	float: right;
}
.voice_con .no03-box03 {
	width: 230px;
	float: left;
}
.voice_con .no03-box04 {
	width: 500px;
	float: right;
}
.voice_con .no04-box01{
	padding-top:10px;
	width:430px;
	}	
.voice_con .no03-box05 {
	width: 500px;
	float: left;
}
.voice_con .no03-box06 {
	width: 230px;
	float: right;
}
.voice_con .no03-box07 {
	width: 500px;
	float: left;
}
.voice_con .no03-box08 {
	width: 230px;
	float: right;
}
.voice_con .no03-box01 img, .voice_con .no03-box02 img, .voice_con .no03-box03 img, .voice_con .no03-box04 img, .voice_con .no03-box05 img, .voice_con .no03-box06 img, .voice_con .no03-box07 img, .voice_con .no03-box08 img,
.voice_con .no04-box01 img  {
	margin-bottom: 5px;
	width: 100%;
}
#voice_q {
	margin-top: 20px;
}
#voice_q h4.voice {
	background: none;
	margin-bottom: 10px;
}
#voice_q .q01_box {
	width: 754px;
	overflow: hidden;
	margin: 0 auto 10px;
}
#voice_q .q01_box_l {
	float: left;
	width: 532px;
}
#voice_q h5 {
	margin: 0;
	color:#419396;
	font-weight:bold;
	border-bottom:1px #218290 solid;
	padding-bottom:5px;
}
#voice_q .q01_box_l .q01_bg {
	width: 532px;
	padding: 5px 0;
	margin: 0 auto;
	background: url("../images/custom/img_bg01.jpg") repeat-y;
}
#voice_q span img {
	vertical-align: top;
}
#voice_q p {
	padding: 0 10px;
	font-size: 13px;
	margin-bottom: 0 !important;
}
#voice_q .q01_box_r {
	width: 200px;
	float: right;
}
#voice_q .q01_box .q02_bg {
	width: 754px;
	padding: 10px 0 5px;
	margin: 0 auto;
	background: url("../images/custom/img_bg02.jpg") repeat-y;
}
ul.taxonomy {
	overflow: hidden;
}
ul.taxonomy li {
	margin: 0 5px;
	width: 240px;
	float: left;
}
ul.taxonomy li span {
	height: 240px;
	text-align: center;
	display: block;
	margin-bottom: 5px;
	border: 2px #00948e solid;
	overflow: hidden;
}
ul.taxonomy li img {
}
ul.taxonomy li p {
	color: #000;
	font-size: 12px;
}
/* index お問い合わせ */			
#form_index {
}
#form_index .form_index {
	padding: 17px 0;
	background: url("../images/top/form_bg.png") no-repeat;
}
#form_index .form_index ul {
	width: 770px;
	overflow: hidden;
	margin: 0 auto;
}
#form_index .form_index li {
	float: left;
	margin: 0 5px;
}
.bnr_bottom {
	width: 812px;
	border-left: 1px solid #FFF;
}
.bnr_bottom ul {
	width: 812px;
	overflow: hidden;
}
.bnr_bottom ul li {
	float: left;
}
/* イベントページ */		
	
.event_box {
	overflow: hidden;
	padding-bottom: 20px;
	width: 100%;
	margin: 0 auto;
}
.event_box ul {
	overflow: hidden;
}
.event_box ul li {
	width: 244px;
	float: left;
}
.event_box ul .mr12 {
	margin-right: 10px;
}
/* page お問い合わせ */			
#form_page {
	margin-top: 15px;
}
#form_page .form_page {
	padding: 17px 0;
	width: 760px;
	background: url("../images/common/form_page/form_bg.jpg") no-repeat;
}
#form_page .form_page ul {
	width: 715px;
	overflow: hidden;
	margin: 0 auto;
}
#form_page .form_page li {
	float: left;
	margin: 0 4px;
}
/* こだわり トップ */	
#kodawari {
	width: 715px;
	margin: 0 auto;
	text-align: center;
}
#kodawari .kodawari_top {
}
.kodawari_top .btn_news {
	margin: 50px 0;
}
.kodawari_top table {
	margin: 20px 0 0 25px;
}
.kodawari_top th {
	width: 480px;
	font-size: 18px !important;
	color: #000 !important;
	vertical-align: top;
	line-height: 35px !important;
}
.kodawari_top td {
	vertical-align: top;
}
.kodawari_top ul {
	margin: 20px 0 0 5px;
}

#kodawari_menu{
	margin:25px 0;
	}
#kodawari_menu h4{
	text-align:center;
	margin-bottom:10px;
	}
	
#kodawari .kodawari_menu {
	height:390px;
	position:relative;}	
	
#kodawari .kodawari_menu02 {
	height:160px;
	position:relative;}		
	
#kodawari .kodawari_menu li,
#kodawari .kodawari_menu02 li {
	float: left;
	
}

#kodawari .kodawari_menu li.img01 {
	position: absolute;
	left: -1px;
	top: 16px;
	}
	
#kodawari .kodawari_menu li.img02 {
	position: absolute;
	left: 228px;
	top: 83px;
	}
	
#kodawari .kodawari_menu li.img03 {
	position: absolute;
	left: 290px;
	top: 243px;
	}
	
#kodawari .kodawari_menu li.img04 {
	position: absolute;
	left: 430px;
	top: -13px;
	}
	
#kodawari .kodawari_menu li.img05 {
	position: absolute;
	left: 22px;
	top: 181px;
	}
	
#kodawari .kodawari_menu li.img06 {
	position: absolute;
	left: 501px;
	top: 154px;
	}
	
#kodawari .kodawari_menu02 li.img07 {
	position: absolute;
	left: 371px;
	top: 0px;
	}						
	
	#kodawari .kodawari_menu02 li.img08 {
	position: absolute;
	left: 123px;
	top: 1px;
	}	

.kodawari_top .btn_book {
	padding-top: 50px;
	margin-bottom: 70px;
}
#kodawari .center {
	text-align: center;
}
#kodawari .left {
	text-align: left;
}
#kodawari .right {
	text-align: right;
}
#kodawari .mb10 {
	margin-bottom: 10px;
}
#kodawari .mb20 {
	margin-bottom: 20px;
}
#kodawari .mb30 {
	margin-bottom: 30px;
}
#kodawari .mb40 {
	margin-bottom: 40px;
}
#kodawari .mb50 {
	margin-bottom: 50px;
}
#kodawari .mb100 {
	margin-bottom: 100px;
}
/* こだわり ムク材 */	
#kodawari .kodawari_muku {
	margin-bottom: 80px;
}
#kodawari .kodawari_muku h2 {
	margin-bottom: 50px;
}
#kodawari .kodawari_muku .sec01 {
	margin: 40px 0 55px;
}
#kodawari .kodawari_muku .mr15 {
	margin-right: 15px;
}
#kodawari .kodawari_muku .mr40 {
	margin-right: 35px;
}
#kodawari .kodawari_muku .sec02 {
	width: 700px;
	margin: 0 auto;
}
#kodawari .kodawari_muku .sec02 img {
	float: left;
}
#kodawari .kodawari_muku .sec03 {
	width: 640px;
	margin: 40px auto;
	text-align: left;
}
#kodawari .kodawari_muku .sec03 img {
	margin-bottom: 20px;
}
/* こだわり 長期優良住宅 */	
#kodawari .kodawari_yuryo {
	margin-bottom: 80px;
}
.kodawari_yuryo .contents_01 {
	width: 680px;
	margin: 0 auto;
}
.kodawari_yuryo .contents_01 .btn_flat {
	margin: 13px 5px;
}
.kodawari_yuryo .contents_01 p {
	font-size: 18px;
	color: #000;
	vertical-align: top;
	line-height: 33px;
	margin: 10px auto;
}
.kodawari_yuryo .contents_01 b {
	color: #ff992a;
}
.kodawari_yuryo .contents_01 .yuryo_01 {
	height: 290px;
	position: relative;
}
.kodawari_yuryo .contents_01 .yuryo_01 p {
	width: 415px;
	position: absolute;
	text-align: left;
	top: 0;
	left: 0;
}
.kodawari_yuryo .contents_01 .yuryo_01 span {
	width: 233px;
	position: absolute;
	top: -10px;
	left: 450px;
}
.kodawari_yuryo .contents_01 .yuryo_02 {
	height: 320px;
	position: relative;
}
.kodawari_yuryo .contents_01 .yuryo_02 p {
	width: 455px;
	position: absolute;
	top: 0;
	left: 0;
}
.kodawari_yuryo .contents_01 .yuryo_02 span {
	width: 223px;
	position: absolute;
	top: 17px;
	left: 485px;
}
.kodawari_yuryo .contents_01 .yuryo_link {
	font-size: 14px;
	line-height: 25px;
}
.kodawari_yuryo .contents_01 .yuryo_link b {
	color: #000;
}
.kodawari_yuryo .contents_01 .yuryo_link a {
	color: #009696;
	text-decoration: underline;
}
.kodawari_yuryo .contents_01 .yuryo_link a:hover {
	text-decoration: none;
}
.kodawari_yuryo .contents_02 ul {
	margin: 60px 0 100px 0;
}
.kodawari_yuryo .contents_02 li {
	width: 685px;
	text-align: left;
	margin-bottom: 50px;
}
.kodawari_yuryo .contents_02 p {
	font-size: 14px;
	line-height: 22px;
	color: #000;
}
.kodawari_yuryo .contents_02 b {
	color: #f00000;
}
.kodawari_yuryo .contents_02 .sec01 {
	height: 285px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec01 .sec_01 {
	width: 212px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec01 .sec_02 {
	width: 282px;
	position: absolute;
	top: 0;
	left: 395px;
}
.kodawari_yuryo .contents_02 .sec01 .sec_03 {
	width: 300px;
	position: absolute;
	top: 220px;
	left: 395px;
}
.kodawari_yuryo .contents_02 .sec02 {
	height: 440px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec02 .sec_01 {
	width: 539px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec03 {
	height: 285px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec03 .sec_01 {
	width: 212px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec03 .sec_02 {
	width: 282px;
	position: absolute;
	top: 127px;
	left: 415px;
}
.kodawari_yuryo .contents_02 .sec03 .sec_03 {
	width: 300px;
	position: absolute;
	top: 0;
	left: 395px;
}
.kodawari_yuryo .contents_02 .sec04 {
	height: 212px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec04 .sec_01 {
	width: 285px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec04 .sec_02 {
	width: 100px;
	position: absolute;
	top: 55px;
	left: 545px;
}
.kodawari_yuryo .contents_02 .sec04 .sec_03 {
	width: 250px;
	position: absolute;
	top: 0;
	margin: 0 !important;
	left: 465px;
}
.kodawari_yuryo .contents_02 .sec05 {
	height: 280px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec05 .sec_01 {
	width: 285px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec05 .sec_02 {
	width: 253px;
	position: absolute;
	top: 12px;
	right: -10px;
}
.kodawari_yuryo .contents_02 .sec05 .sec_03 {
	width: 480px;
	position: absolute;
	top: 235px;
	left: 152px;
}
.kodawari_yuryo .contents_02 .sec06 {
	height: 282px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec06 .sec_01 {
	width: 285px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec06 .sec_02 {
	width: 100px;
	position: absolute;
	top: 135px;
	right: 15px;
}
.kodawari_yuryo .contents_02 .sec06 .sec_03 {
	width: 300px;
	position: absolute;
	top: 0px;
	left: 395px;
}
.kodawari_yuryo .contents_02 .sec07 {
	height: 365px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec07 .sec_01 {
	width: 212px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec07 .sec_02 {
	width: 292px;
	position: absolute;
	top: 0;
	right: -20px;
}
.kodawari_yuryo .contents_02 .sec07 .sec_03 {
	width: 400px;
	position: absolute;
	top: 298px;
	left: 152px;
}
.kodawari_yuryo .contents_02 .sec08 {
	height: 735px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec08 .sec_01 {
	width: 212px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_02 {
	width: 282px;
	position: absolute;
	top: 0;
	left: 410px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_03 {
	width: 286px;
	position: absolute;
	top: 220px;
	right: -9px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_04 {
	width: 282px;
	position: absolute;
	top: 375px;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_05 {
	width: 282px;
	position: absolute;
	top: 375px;
	left: 410px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_06 {
	width: 286px;
	position: absolute;
	top: 595px;
	right: -9px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_07 {
	width: 100px;
	position: absolute;
	top: 280px;
	left: 10px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_08 {
	width: 250px;
	position: absolute;
	top: 295px;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec08 .sec_09 {
	width: 250px;
	position: absolute;
	top: 670px;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec09 {
	height: 725px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec09 .sec_01 {
	width: 538px;
	position: absolute;
	top: 0;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec09 .sec_02 {
	width: 538px;
	position: absolute;
	top: 512px;
	left: 155px;
}
.kodawari_yuryo .contents_02 .sec09 .sec_03 {
	width: 250px;
	position: absolute;
	top: 615px;
	left: 460px;
}
.kodawari_yuryo .contents_02 .sec10 {
	height: 760px;
	position: relative;
}
.kodawari_yuryo .contents_02 .sec10 .sec_01 {
	width: 569px;
	position: absolute;
	top: 0;
	left: 155px;
	z-index: 0;
}
.kodawari_yuryo .contents_02 .sec10 .sec_02 {
	width: 600px;
	position: absolute;
	top: 543px;
	left: 155px;
	z-index: 1;
}
.kodawari_yuryo .contents_02 .sec10 .sec_03 {
	width: 260px;
	position: absolute;
	top: 412px;
	left: 152px;
}
/* こだわり 性能表示 */	
#kodawari .kodawari_seino {
	margin-bottom: 80px;
}
.kodawari_seino p {
	color: #000;
	vertical-align: top;
}
.kodawari_seino .contents_01 .sec01 {
	width: 675px;
	height: 195px;
	position: relative;
	text-align: left;
	margin: 30px auto 0;
}
.kodawari_seino .contents_01 .sec01 h3 {
	padding: 5px 0 4px 10px;
	background: #7fceca;
	color: #fff;
	font-size: 18px;
	z-index: 0;
}
.kodawari_seino .contents_01 .sec01 .sec_01 {
	width: 217px;
	font-size: 14px;
	text-align: center;
	position: absolute;
	z-index: 1;
	right: 0px;
	top: 0;
}
.kodawari_seino .contents_01 .sec01 .sec_02 {
	position: absolute;
	font-size: 18px;
	top: 55px;
	left: 0;
}
.kodawari_seino .contents_01 .sec02 {
	width: 675px;
	position: relative;
	text-align: left;
	margin: 0 auto 30px;
}
.kodawari_seino .contents_01 .sec02 .sec_01 {
	width: 420px;
	font-size: 14px;
	position: absolute;
	left: 178px;
	top: 25px;
	background: url("../images/kodawari/seino/sec01_fukidasi.jpg") no-repeat;
	padding: 23px 20px 23px 60px;
}
.kodawari_seino .contents_01 .sec03 {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 30px;
}
.kodawari_seino .contents_01 .sec04 {
	width: 675px;
	height: 255px;
	position: relative;
	text-align: left;
	margin: 0 auto 110px;
}
.kodawari_seino .contents_01 .sec04 .sec_01 {
	font-size: 16px;
	line-height: 28px;
}
.kodawari_seino .contents_01 .sec04 .sec_02 {
	margin-top: 30px;
}
.kodawari_seino .contents_01 .sec04 .sec_03 {
	width: 210px;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
}
.kodawari_seino .contents_02 {
	width: 675px;
	position: relative;
	margin: 0 auto 100px;
}
.kodawari_seino .contents_02 p {
	font-size: 20px;
	font-weight: bold;
	margin: 3px auto 30px;
}
.kodawari_seino .contents_02 .sec01 {
	width: 734px;
	position: relative;
	left: -30px;
}
.kodawari_seino .contents_03 {
	width: 675px;
	margin: 0 auto 85px;
}
.kodawari_seino .contents_03 ul li {
	width: 317px;
	height: 276px;
	background: url("../images/kodawari/seino/sec03_bg.jpg") no-repeat;
	float: left;
	margin: 20px 0;
}
#content .kodawari_seino .contents_03 h3 {
	width: 275px;
	padding: 30px 0 10px;
	margin: 0 auto !important;
}
#content .kodawari_seino .contents_03 h4 {
	width: 275px;
	height: 54px;
	color: #000;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
	background: url("../images/kodawari/seino/sec03_line.png") no-repeat;
	padding-top: 10px;
	margin: 0 auto !important;
}
.kodawari_seino .contents_03 p {
	width: 270px;
	font-size: 14px;
	line-height: 27px;
	text-align: left;
	margin: 10px auto 0;
}
.kodawari_seino .contents_04 {
	width: 675px;
	text-align: left;
	margin: 0 auto 80px;
}
.kodawari_seino .contents_04 .sec01 {
	width: 675px;
	position: relative;
	margin: 50px auto 10px;
}
.kodawari_seino .contents_04 .sec01 .sec_02 {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	margin-top: 15px;
}
.kodawari_seino .contents_04 .sec01 .sec_03 {
	width: 233px;
	position: absolute;
	top: -10px;
	right: 0;
}
.kodawari_seino .contents_04 .sec02 {
	width: 675px;
	position: relative;
	margin: 0 auto 40px;
}
.kodawari_seino .contents_04 th {
	width: 220px;
	height: 80px;
}
.kodawari_seino .contents_04 td {
	font-size: 13px;
}
.kodawari_seino .contents_04 .sec03 {
	width: 675px;
	position: relative;
	margin: 0 auto 0;
}
.kodawari_seino .contents_04 .sec03 .sec_02 {
	font-size: 14px;
	font-weight: bold;
	line-height: 26px;
	margin-top: 15px;
}
.kodawari_seino .contents_04 .sec03 .sec_03 {
	width: 233px;
	position: absolute;
	top: 60px;
	right: 0;
}
/* こだわり 基礎 */	
#kodawari .kodawari_kiso {
	margin-bottom: 80px;
}
.kodawari_kiso p {
	color: #000;
	vertical-align: top;
}
.kodawari_kiso .contents_01 .sec01 {
	width: 675px;
	margin: 50px auto 0;
}
.kodawari_kiso .contents_01 .sec01 li {
	width: 310px;
	float: left;
	margin-bottom: 70px;
}
.kodawari_kiso .contents_01 .sec01 .kiso_photo {
	height: 225px;
	position: relative;
}
.kodawari_kiso .contents_01 .sec01 .kiso_photo img {
	width: 300px;
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.kodawari_kiso .contents_01 .sec01 h3 {
	height: 33px;
	margin-top: 10px;
}
.kodawari_kiso .contents_01 .sec01 .kiso_txt {
	font-size: 16px;
	text-align: left;
}
.kodawari_kiso .contents_01 .sec02 {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 100px;
}
.kodawari_kiso .contents_01 .sec02 img {
	margin: 12px;
}
.kodawari_kiso .contents_01 .sec03 table {
	width: 640px;
	margin: 30px auto 110px;
}
.kodawari_kiso .contents_01 .sec03 th {
	width: 300px;
	padding: 0 25px 0 15px;
}
.kodawari_kiso .contents_01 .sec03 td {
	font-size: 15px;
	text-align: left;
	line-height: 27px;
}
.kodawari_kiso .contents_02 .sec01 {
	width: 675px;
	height: 370px;
	position: relative;
	margin: 0 auto 60px;
	text-align: left;
	font-size: 14px;
	line-height: 26px;
}
.kodawari_kiso .contents_02 .sec01 .sec_02 {
	width: 410px;
	top: 0px;
	left: 200px;
	position: absolute;
}
.kodawari_kiso .contents_02 .sec01 .sec_03 {
	width: 466px;
	top: 100px;
	right: 0px;
	position: absolute;
}
.kodawari_kiso .contents_02 .sec01 .sec_04 {
	width: 210px;
	left: 235px;
	bottom: 0px;
	position: absolute;
}
.kodawari_kiso .contents_02 .sec01 .sec_05 {
	width: 220px;
	bottom: 0px;
	right: 0px;
	position: absolute;
}
/* こだわり 省エネ */	
#kodawari .kodawari_shoene {
	margin-bottom: 80px;
	width: 724ox;
	position: relative;
}
.kodawari_shoene .sec01 {
	font-size: 20px;
	line-height: 35px;
	margin-bottom: 30px;
}
.kodawari_shoene .jirei {
	width: 724px;
	margin: 60px auto;
	position: relative;
	left: -5px;
}
.kodawari_shoene .jirei table {
	width: 724px;
	background: url("../images/kodawari/shoene/jire_repeat.jpg") repeat-y;
}
.kodawari_shoene .jirei table th {
	width: 270px;
	text-align: center;
	padding: 15px 0 15px 25px;
}
.kodawari_shoene .jirei table td {
	width: 300px;
	font-size: 18px;
	text-align: left;
	line-height: 30px;
	background: url("../images/kodawari/shoene/jire_img.jpg") no-repeat center left;
	padding: 15px 0 15px 85px !important;
}
/* こだわり 耐震 */	
#kodawari .kodawari_taisin {
	margin-bottom: 80px;
}
.kodawari_taisin .contents_01 {
	width: 715px;
	margin: 50px auto 0;
	position: relative;
}
.kodawari_taisin .contents_01 .sec01 {
	width: 400px;
	position: relative;
	font-size: 18px;
	line-height: 25px;
	text-align: left;
	margin: 20px 0 0 20px;
}
.kodawari_taisin .contents_01 .sec02 {
	font-size: 14px;
	text-align: left;
	line-height: 18px;
	margin: 5px 0 0 25px;
}
.kodawari_taisin .contents_01 .sec03 {
	width: 270px;
	position: absolute;
	top: 165px;
	font-size: 14px;
	right: 0px;
}
.kodawari_taisin .contents_01 table {
	margin: 35px 0 115px 25px !important;
}
.kodawari_taisin .contents_01 table tr {
	height: 100px;
	border-bottom: 1px solid #fff;
}
.kodawari_taisin .contents_01 table th {
	text-align: center;
	width: 185px;
}
.kodawari_taisin .contents_01 table .cel1 {
	font-size: 14px;
	color: #000;
	width: 295px;
	text-align: left;
	padding-left: 20px !important;
}
.kodawari_taisin .contents_01 table .cel2 {
	width: 170px;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.kodawari_taisin .contents_01 table .table1 th {
	background: #249459;
}
.kodawari_taisin .contents_01 table .table2 th {
	background: #55ba6c;
}
.kodawari_taisin .contents_01 table .table3 th {
	background: #94d672;
}
.kodawari_taisin .contents_01 table .table1 .cel1 {
	background: #93caab;
}
.kodawari_taisin .contents_01 table .table2 .cel1 {
	background: #aadcb6;
}
.kodawari_taisin .contents_01 table .table3 .cel1 {
	background: #c9ebb8;
}
.kodawari_taisin .contents_01 table .table1 .cel2 {
	background: #c9ebb8;
}
.kodawari_taisin .contents_01 table .table2 .cel2 {
	background: #d5eedb;
}
.kodawari_taisin .contents_01 table .table3 .cel2 {
	background: #e5f5db;
}
.kodawari_taisin .contents_02 li {
	width: 680px;
	position: relative;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 80px;
}
.kodawari_taisin .contents_02 li h3 {
	position: relative;
	z-index: 0;
}
.kodawari_taisin .contents_02 li .taisin_txt {
	width: 470px;
	font-size: 16px;
	line-height: 28px;
	margin-top: 30px;
}
.kodawari_taisin .contents_02 li .taisin_photo {
	width: 200px;
	position: absolute;
	top: 5px;
	right: 0;
	z-index: 1;
}
.kodawari_taisin .contents_02 li .taisin_photo img {
	margin-bottom: 5px;
}
/* こだわり 富山まるごと */	
#kodawari .kodawari_toyama {
	margin-bottom: 80px;
}
.kodawari_toyama h2 {
	margin: 100px auto 30px;
}
.kodawari_toyama h3 {
	text-align: left;
	margin: 50px 0 30px !important;
}
.kodawari_toyama hr {
	height: 8px;
	background: url(../images/kodawari/toyama/img_line.jpg) repeat-x left;
	margin: 45px 0 0 0px;
	padding: 0;
	border: none;
}
.kodawari_toyama .toyama_list {
	margin-bottom: 30px;
}
.kodawari_toyama .toyama_list li {
	width: 723px;
	position: relative;
	text-align: left;
}
.kodawari_toyama .toyama_list table {
	width: 723px;
}
.kodawari_toyama .toyama_list th, .kodawari_toyama .toyama_list td {
	vertical-align: top;
	padding: 0 !important;
}
.kodawari_toyama .toyama_list .sec01 .sec_01 {
	width: 344px;
	position: absolute;
	top: 90px;
	right: 0;
}
.kodawari_toyama .toyama_list .sec02 table {
	margin: 35px 0 !important;
}
.kodawari_toyama .toyama_list .sec03 img {
	margin-bottom: 15px;
}
.kodawari_toyama .toyama_list .sec03 th, .kodawari_toyama .toyama_list .sec03 td {
	padding-top: 20px !important;
	text-align: center;
}
.kodawari_toyama .toyama_list .sec03 th {
	padding-right: 40px !important;
}
.kodawari_toyama .toyama_list .sec03 .sec_01 {
	width: 175px;
	position: absolute;
	top: -35px;
	right: 10px;
}
.kodawari_toyama .toyama_list .sec04 .sec_01 {
	width: 341px;
	position: absolute;
	top: 90px;
	right: 0;
}
.kodawari_toyama .toyama_list .sec06 .sec_01 {
	margin: 20px 0 50px;
}
.kodawari_toyama .toyama_list .sec06 .sec_01 img {
	margin-left: 30px;
}
.kodawari_toyama .toyama_list .sec06 .sec_02 {
	width: 249px;
	position: absolute;
	top: -45px;
	right: 20px;
}
.kodawari_toyama .toyama_list .sec07 .sec_01 {
	width: 242px;
	position: absolute;
	top: 100px;
	right: 0;
}
.kodawari_toyama .toyama_list .sec07 h4 {
	margin: 50px 0 0;
}
.kodawari_toyama .toyama_list .sec07 li {
	width: 221px;
	margin: 25px 0 0 30px;
	float: left;
}
.kodawari_toyama .toyama_list .sec07 li:first-child {
	margin-left: 0;
}
.kodawari_toyama .toyama_list .sec07 th, .kodawari_toyama .toyama_list .sec07 td {
	padding-top: 50px !important;
	text-align: center;
}
.kodawari_toyama .toyama_list .sec07 th img, .kodawari_toyama .toyama_list .sec07 td img {
	margin-bottom: 20px;
}
.kodawari_toyama .toyama_list .sec07 th {
	padding-right: 60px;
}
.kodawari_toyama .toyama_list .sec07 .sec_02 {
	width: 332px;
	position: absolute;
	bottom: 110px;
	right: 10px;
}
.kodawari_toyama .toyama_list .sec08 th, .kodawari_toyama .toyama_list .sec08 td {
	width: 345px;
	padding: 0 0 50px 0 !important;
}
.kodawari_toyama .toyama_list .sec08 th {
	padding-right: 35px !important;
}
.kodawari_toyama .toyama_list .sec09 th img {
	margin: 0 10px 25px 0 !important;
}
.kodawari_toyama .toyama_list .sec15 img {
	margin-bottom: 10px !important;
}
.kodawari_toyama .toyama_list .sec15 table {
	margin-bottom: 30px !important;
}
.kodawari_toyama .toyama_list .sec15 .sec_01 th {
	width: 490px;
}
.kodawari_toyama .toyama_list .sec15 .sec_01 p {
	float: left;
	width: 235px;
}
.kodawari_toyama .toyama_list .sec15 .sec_02 td {
	padding-left: 20px !important;
}
.kodawari_toyama .toyama_list .sec15 .sec_02 td img {
	margin-left: 10px !important;
}
.kodawari_toyama .toyama_list .sec15 .sec_03 td img {
	margin-left: 10px !important;
}
.kodawari_toyama .toyama_list .sec15 .sec_03 td {
	padding-left: 10px !important;
}
.kodawari_toyama .toyama_list .sec05 td, .kodawari_toyama .toyama_list .sec09 td, .kodawari_toyama .toyama_list .sec10 td, .kodawari_toyama .toyama_list .sec11 td, .kodawari_toyama .toyama_list .sec12 td, .kodawari_toyama .toyama_list .sec13 td, .kodawari_toyama .toyama_list .sec14 td {
	text-align: right;
}
.kodawari_toyama .sec_btm1 {
	margin-left: -5px;
}
.kodawari_toyama .sec_btm2 {
	margin-right: 27px;
}
/* サイトマップ */	
#sitemap {
	width: 720px;
	margin: 0 auto 80px;
}
#sitemap dt {
	margin: 0 0 15px;
}
#sitemap dt a {
	display: block;
	width: 710px;
	height: 42px;
	background: #009695;
	color: #FFF;
	padding-left: 10px;
	text-decoration: none;
	font-size: 22px;
	line-height: 38px;
}
#sitemap dt a span {
	color: #ebde3e;
	line-height: 36px;
	font-size: 18px;
}
#sitemap dt:hover {
	opacity: 0.8;
	-ms-filter: "alpha(opacity=80)";
}
#sitemap dt img {
	background: url(../images/sitemap/bg.png) no-repeat left #009695;
	padding-left: 20px;
	margin: 11px 0 0 5px;
}
#sitemap dd {
	margin-left: 20px;
	padding-bottom: 20px
}
#sitemap dd a img {
	background: url(../images/sitemap/bg.png) no-repeat left;
	padding-left: 20px;
	margin: 0 5px 18px 0;
}
#sitemap dd a {
	text-decoration: none;
	font-size: 18px;
	line-height: 48px;
	color: #009695;
}
#sitemap dd a span {
	color: #ebde3e;
	line-height: 28px;
	font-size: 14px;
}
/* 会社概要 */	
#gaiyou {
	width: 754px;
	margin: 0 auto 80px;
}
#gaiyou a {
	color: #de3a14;
}
#gaiyou a:hover {
	color: #de3a14;
	text-decoration: none;
}
#gaiyou .sec01 {
	background: url(../images/gaiyou/bg_01.jpg) no-repeat left bottom;
	padding-bottom: 180px;
	margin: 30px 0 0;
}
#gaiyou .sec02 {
	background: url(../images/gaiyou/bg_02.jpg) no-repeat left bottom;
	padding-bottom: 40px;
	margin: 50px 0 0;
}
#gaiyou .sec03 {
	background: url(../images/gaiyou/bg_02.jpg) no-repeat left bottom;
	padding-bottom: 40px;
	margin: 35px 0 0;
}
#gaiyou h2 {
	border-bottom: 4px solid #009c99;
	margin-bottom: 15px;
	padding-bottom: 4px;
}
#gaiyou .sec01 h3 {
	margin: 0 0 10px;
}
#gaiyou .sec01 h4 {
	margin: 20px 0 3px;
	font-size: 14px;
	font-weight: bold;
}
#gaiyou .sec01 p {
	font-size: 12px;
	margin-bottom: 15px;
	width: 470px;
}
#gaiyou tr {
	font-size: 12px;
	border: 1px solid #CCC !important;
}
#gaiyou td {
	border-left: 1px solid #CCC !important;
}
#gaiyou th, #gaiyou td {
	font-size: 12px !important;
	padding: 4px 0 3px 10px !important;
	vertical-align: top !important;
}
#gaiyou table {
	width: 470px;
}
#gaiyou .table1 {
	margin-bottom: 40px;
	float: left;
}
#gaiyou .table2 {
	margin-bottom: 10px;
}
#gaiyou .table1 th {
	background: #fff2bb;
	width: 135px;
}
#gaiyou .table1 td {
	width: 310px;
}
#gaiyou .table2 .th_title {
	background: #fff2bb;
	font-weight: bold;
}
#gaiyou .table2 th {
	background: #ededed;
	width: 135px;
}
#gaiyou .img_list {
	width: 240px;
	float: right;
	margin-right: 13px;
}
#gaiyou .img_list li {
	font-size: 12px !important;
	margin-bottom: 20px;
}
#gaiyou .img_list a {
	margin-bottom: 10px;
}
#gaiyou .table2 td {
	width: 310px;
}
#gaiyou .sec03 dt {
	background: url(../images/gaiyou/sec03_1_top.jpg) no-repeat top left;
	margin: 0;
	padding: 4px 0 0;
}
#gaiyou .sec03 dt h3 {
	background: url(../images/gaiyou/sec03_1_bottom.jpg) no-repeat bottom left;
	margin: 0 0 12px;
	padding: 0 0 4px;
}
#gaiyou .sec03 dt h3 p {
	font-size: 16px;
	font-weight: bold;
	background: url(../images/gaiyou/sec03_1_bg.jpg) repeat-y left;
	margin: 0;
	padding: 1px 0 0 10px;
}
#gaiyou .sec03 dd {
	line-height: 22px;
	font-size: 12px !important;
	margin-bottom: 35px;
}
#gaiyou .sec03 dd p {
	font-size: 12px !important;
	margin-bottom: 35px;
}
#gaiyou .sec03 dd h4 {
	font-size: 15px;
	font-weight: bold;
	padding: 0 0 3px 8px;
	border-bottom: 1px solid #009c99;
	border-left: 4px solid #009c99;
	margin-bottom: 10px;
}
#gaiyou .red {
	color: #d82f37;
	font-weight: bold;
}
#gaiyou .blue {
	color: #0045ad;
	font-weight: bold;
}
/* 今どきの2世帯住宅 */	
#imadokinonisetai {
	width: 754px;
	margin: 0 auto 80px;
	text-align: center;
}
#imadokinonisetai h2 {
	margin: 60px 0 25px;
}
#imadokinonisetai p {
	width: 654px;
	text-align: left;
	font-size: 17px;
	line-height: 30px;
	margin: 0 auto;
}
#imadokinonisetai .green {
	color: #5ab848;
	font-weight: bold;
}
#imadokinonisetai .sec01 .sec_01 {
	margin: 30px auto;
}
#imadokinonisetai .sec02 li {
	margin: 80px 0 0 0;
}
#imadokinonisetai .sec02 h3 {
	margin-bottom: 20px;
}
#imadokinonisetai .sec02 .mb30 {
	margin-bottom: 30px;
}
#imadokinonisetai .sec02 p {
	margin-bottom: 50px;
}
#imadokinonisetai .gimon1 {
	width: 670px;
	height: 810px;
	background: url(../images/imadokinonisetai/gimon_bg1.jpg) no-repeat left top;
	margin: 80px auto 0;
	position: relative;
}
#imadokinonisetai .gimon1 .sec_01 {
	width: 495px;
	position: absolute;
	top: 40px;
	left: 90px;
}
#imadokinonisetai .gimon1 .sec_02 {
	width: 516px;
	position: absolute;
	top: 163px;
	left: 80px;
}
#imadokinonisetai .gimon1 .sec_03 {
	width: 186px;
	position: absolute;
	top: 234px;
	left: 65px;
}
#imadokinonisetai .gimon1 .sec_04 {
	width: 354px;
	position: absolute;
	top: 225px;
	right: 45px;
}
#imadokinonisetai .gimon1 .sec_05 {
	width: 328px;
	position: absolute;
	top: 430px;
	left: 80px;
}
#imadokinonisetai .gimon1 .sec_06 {
	width: 189px;
	position: absolute;
	top: 408px;
	right: 57px;
}
#imadokinonisetai .gimon1 .sec_07 {
	width: 425px;
	position: absolute;
	top: 605px;
	left: 125px;
}
#imadokinonisetai .gimon2 {
	width: 670px;
	height: 830px;
	background: url(../images/imadokinonisetai/gimon_bg2.jpg) no-repeat left top;
	margin: 0 auto;
	position: relative;
}
#imadokinonisetai .gimon2 .sec_01 {
	width: 516px;
	position: absolute;
	top: 52px;
	left: 77px;
}
#imadokinonisetai .gimon2 .sec_02 {
	width: 238px;
	position: absolute;
	top: 119px;
	left: 217px;
}
#imadokinonisetai .gimon2 .sec_03 {
	width: 186px;
	position: absolute;
	top: 179px;
	left: 63px;
}
#imadokinonisetai .gimon2 .sec_04 {
	width: 326px;
	position: absolute;
	top: 212px;
	right: 75px;
}
#imadokinonisetai .gimon2 .sec_05 {
	width: 328px;
	position: absolute;
	top: 332px;
	left: 79px;
}
#imadokinonisetai .gimon2 .sec_06 {
	width: 188px;
	position: absolute;
	top: 343px;
	right: 60px;
}
#imadokinonisetai .gimon2 .sec_07 {
	width: 497px;
	position: absolute;
	top: 537px;
	left: 88px;
}


/* 収納 */

#shuno {
	width: 754px;
	margin: 0 auto;
}
#shuno h2 {
	margin-bottom: 40px;
}
#shuno .shuno {
	position:relative;
	overflow: hidden;
	width: 754px;
	padding-bottom: 50px;
}
#shuno .shuno h3 {
	margin-bottom: 30px;
}
#shuno .shuno p {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 10px;
}

/* 収納01 */

#shuno .shuno .s_box01_l {
	float: left;
	overflow: hidden;
	width: 435px;
}

#shuno .shuno .s_box01_l .s_box01_l01 {
	float: left;
	width: 208px;
}


/* 収納02 */

#shuno .shuno .s_box02_r {
	float: right;
	overflow: hidden;
	width: 337px;
}

#shuno .shuno p {
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 10px;
}

#shuno .shuno .s_box02_c {
	width:754px;
	padding-top:20px;
	overflow:hidden;
	clear:both;
}
#shuno .shuno .s_box02_r02 {
	width:420px;
	float:right;

}
/* 収納03 */

#shuno .shuno .s_box03_l {
	float: left;
	overflow: hidden;
	width: 338px;
}

#shuno .shuno .s_box03_r{
	float: right;
	width: 387px;
}

#shuno .shuno .s_box03_r02{
	padding-top:10px;
	width: 387px;
}


/* 収納04 */

#shuno .shuno .s_box04_r02{
	
	float:left;
	width: 500px;
}

.img04{
	position: absolute;
	top: 115px;
	left: 528px;
	}
#shuno .mtop{
	margin-top:13px;}

/* すてきにリフォーム */	
#suteki{
	width: 715px;
	margin: 0 auto 80px;
	text-align: left;
}

#suteki .center{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#suteki th,
#suteki td{
	vertical-align: top;
	text-align: left;
}

#suteki h2{
	border-bottom: 4px solid #009393;
	padding-bottom: 3px;
	margin: 0 0 20px 0;
}

#suteki h3{
	width: 662px;
	height: 57px;
	background: url(../images/suteki/h3_bg.png) no-repeat left top;
	text-align: center;
	margin: -5px auto 10px;
}

#suteki h3 img {   
 padding-top:14px; 
}  

suteki .sec03 h3{
	margin-bottom:30px;
}

#suteki h4{
	text-align:left;
	font-size: 16px;
	font-weight: bold;
}

#suteki p{
	font-size:14px;
	line-height:24px;
}

#suteki .icon_hana{
	display: inline-block;
	font-size: 18px;
	height:35px;
	padding-bottom:10px;
/*	line-height: 35px;*/
	padding-left: 40px;
	color: #009393;
	background: url(../images/suteki/icon_himawari.png) no-repeat left top;
}

#suteki .sec_top{
	vertical-align: top;
}

#suteki .sec_bottom{
	vertical-align: bottom;
	margin-top: 10px;
}

#suteki .sec01 .sutekilist_01{
	width: 700px;
	margin: 70px 0 50px;
}

#suteki .sec01 .sutekilist_01 li{
	width: 345px;
	margin-bottom: 10px;
}

#suteki .sec02 .sutekilist_02,
#suteki .sec03 .sutekilist_02{
	width: 700px;
	height: 90px;
}

#suteki .sec02 .sutekilist_02 li,
#suteki .sec03 .sutekilist_02 li{
	float: left;
	width: 169px;
	margin-left: 4px;
}

#suteki .sec02 .sutekilist_02 li:first-child,
#suteki .sec03 .sutekilist_02 li:first-child{
	margin-left: 0;
}

#suteki .btn_totop{
	text-align: right;
	margin: 10px 10px 60px 0;
}

#suteki .btn_totop a{
	line-height: 16px;
	font-size: 14px;
	color: #ed5d00;
	font-weight: bold;
	text-decoration: none;
	background: url(../images/suteki/icon_pegetop.jpg) no-repeat left top;
	padding-left: 15px;
}

#suteki .btn_totop a:hover{
	text-decoration: underline;
}

#suteki .sec01,
#suteki .sec02,
#suteki .sec03{
	width: 687px;
}

#suteki .sec02{
	margin-bottom: 180px;
}

#suteki .sec02 .sec_01,
#suteki .sec02 .sec_02,
#suteki .sec02 .sec_03,
#suteki .sec02 .sec_04,
#suteki .sec03 .sec_01,
#suteki .sec03 .sec_03,
#suteki .sec03 .sec_04{
	background: url(../images/suteki/sec_bg.jpg) repeat right top;
}

#suteki .sec02 .sec_01{
	position: relative;
	text-align: center;
}

#suteki .sec02 .sec_01 h4{
	margin: 0 auto 8px;
	text-align: center
}

#suteki .sec02 .sec_01 p{
	margin-bottom: 30px;
}

#suteki .sec02 .sec_01 .sec_bottom{
	margin-top: 35px;
}

#suteki .sec02 .sec_02{
	position: relative;
	text-align: center;
}

#suteki .sec02 .sec_02 h4{
	text-align: center;
	margin: 0 auto 8px;
}

#suteki .sec02 .sec_02 p{
	font-size: 14px;
	margin-bottom: 10px;
}

#suteki .sec02 .sec_02 table{
	width: 640px;
	margin: 0 auto;
}

#suteki .sec02 .sec_02 td p{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	padding-left: 40px;
}

#suteki .sec02 .sec_02 .illust_01{
	position: absolute;
	width: 78px;
	bottom:2px;
	right:-30px;
}

#suteki .sec02 .sec_03{
	position: relative;
	text-align: center;
}

#suteki .sec02 .sec_03 p{
	padding-top: 5px;
	margin-bottom: 15px;
}

#suteki .sec02 .sec_03 table{
	width: 660px;
	margin: 0 0 0 10px;
}

#suteki .sec02 .sec_03 .td_left{
	padding-right: 20px;
}

#suteki .sec02 .sec_03 td h5{
	font-size: 15px;
	font-weight: bold;
	color: #009393;
	margin-bottom: -5px;
}

#suteki .sec02 .sec_03 td h6{
	font-size: 12px;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
	padding-top: 15px;
}

#suteki .sec02 .sec_03 td p{
	font-size: 12px;
	padding-top: 0px;
	line-height: 18px;
	margin-bottom: 5px;
}

#suteki .sec02 .sec_03 .illust_02{
	position: absolute;
	width: 88px;
	bottom:-53px;
	left:33px;
}

#suteki .sec02 .sec_04{
	position: relative;
	text-align: center;
}

#suteki .sec02 .sec_04 p{
	text-align: left;
	padding-top: 5px;
	margin: 20px 0 20px 37px;
}

#suteki .sec02 .sec_04 ul{
	width: 660px;
	margin: 0 auto;
}

#suteki .sec02 .sec_04 li{
	float: left;
	width: 164px;
}

#suteki .sec02 .sec_04 .right{
	margin: 0 15px 0 0;
}

#suteki .sec02 .sec_04 .illust_03{
	position: absolute;
	width: 79px;
	top:10px;
	right:40px;
}

#suteki .red{
	color: #ff0000;
	font-weight: bold;
}

#suteki .red_big{
	font-size: 16px;
}

#suteki .sec03 .sec_01{
	position: relative;
	text-align: center;
}

#suteki .sec03 .sec_01 table{
	width: 670px;
	margin-left: 20px;
}

#suteki .sec03 .sec_01 table .td_left{
	width: 335px;
}

#suteki .sec03 .sec_01 table h4{
	line-height: 30px;
	color: #000;
	margin-bottom: 10px;
}

#suteki .sec03 .sec_01 table h4 img{
	margin-right: 8px;
}

#suteki .sec03 .sec_01 table p{
	margin-bottom: 15px;
}

#suteki .sec03 .sec_01 .area01{
	width: 625px;
	background: #fff;
	margin: 0 auto 20px;
	padding: 8px 10px;
}

#suteki .sec03 .sec_01 .area01 h4{
	width: 106px;
	float: left;
}

#suteki .sec03 .sec_01 .area01 ul{
	display: inline-block;
	width: 490px;
}

#suteki .sec03 .sec_01 .area01 li{
text-align: left;
font-size: 14px;
font-weight: bold;
margin-top: 3px;
}

#suteki .sec03 .sec_01 .icon_hana{
	margin-left:20px;
	margin-bottom: 10px;
}

#suteki .sec03 .sec_01 .text_01{
	margin-bottom: 25px;
}

#suteki .sec03 .sec_01 .illust_04{
	position: absolute;
	width: 76px;
	top:305px;
	right:0px;
}

#suteki .sec03 .sec_02{
	position: relative;
	text-align: center;
}

#suteki .sec03 .sec_02 h4{
	margin-bottom: 7px;
}

#suteki .sec03 .sec_02 .table_01{
	width: 670px;
	margin: 0 0 20px 40px;
}

#suteki .sec03 .sec_02 .table_01 .td_left{
	width: 310px;
}

#suteki .sec03 .sec_02 .table_01 p{
}

#suteki .sec03 .sec_02 .table_02{
	width: 670px;
	margin: 0 0 35px 40px;
}

#suteki .sec03 .sec_02 .table_02 td{
	padding-bottom: 10px;
}

#suteki .sec03 .sec_02 .table_02 p{
	font-size:12px;
	line-height: 20px;
}

#suteki .sec03 .sec_02 .icon_hana{
	margin-left: 20px;
}

#suteki .sec03 .sec_02 .text_01{
	font-size: 14px;
	text-align: left;
	line-height: 25px;
	margin-left: 45px;
	margin-bottom: 45px;
}

#suteki .sec03 .sec_02 .illust_05{
	position: absolute;
	width: 88px;
	top:190px;
	right:-25px;
}

#suteki .sec03 .sec_02 .illust_06{
	position: absolute;
	width: 97px;
	bottom:115px;
	left:-25px;
}

#suteki .sec03 .sec_03{
	position: relative;
	text-align: center;
}

#suteki .sec03 .sec_03 h4{
	margin-bottom: 7px;
}

#suteki .sec03 .sec_03 table{
	margin: 0 auto 10px;
}

#suteki .sec03 .sec_03 table td{
	width: 315px;
	padding-bottom: 15px;
}

#suteki .sec03 .sec_03 .td_left{
	padding-right:10px; 
}

#suteki .sec03 .sec_03 table td h4,
#suteki .sec03 .sec_03 table td h5,
#suteki .sec03 .sec_03 table td p{
	margin: 0 0 7px 10px;
}

#suteki .sec03 .sec_03 table td h5{
	font-size: 16px;
	font-weight: bold;
}

#suteki .sec03 .sec_03 .icon_hana{
	margin-left: 15px;
}

#suteki .sec03 .sec_03 .text_01{
	text-align: left;
	margin-left: 30px;
	margin-bottom: 15px;
}

#suteki .sec03 .sec_03 .illust_07{
	position: absolute;
	width: 76px;
	bottom:10px;
	right:15px;
}

#suteki .sec03 .sec_04{
	position: relative;
	text-align: center;
	margin-bottom: 80px;
}

#suteki .sec03 .sec_04 table{
	width: 650px;
	margin: 0 auto 5px;
}

#suteki .sec03 .sec_04 table .td_left{
	width: 365px;
}

#suteki .sec03 .sec_04 table p{
	margin: 10px 0 0 10px;
}

#suteki .sec03 .sec_04 .illust_08{
	position: absolute;
	width: 90px;
	bottom:-50px;
	right:-25px;
}


#link_box ul{
	margin-left:15px;
	overflow:hidden;
	padding:10px 0;
	}
	
#link_box ul li{
	float:left;
	margin:5px;
	}	
	
