@charset "UTF-8";
/******CSS COMMON*******/

/* header */

	
#wrapper {
	width: 100%;
	margin: 0 auto;
	overflow-x:hidden;
}
header {
	width: 100%;
	padding-bottom: 10px;
}
header #header {
	width: 100%;
}
header #header .header_inner {
	width: 1100px;
	margin: 0 auto;
	height:90px;
}
header #header .header_inner .header_right {
	width: 460px;
	text-align: right;
	margin-top:30px;
	float: right;
}

header #header .header_inner .header_right ul.outline{
	overflow: hidden;
	margin-bottom:10px;
	width:354px;
	float:right;
}
header #header .header_inner .header_right ul.outline li:first-child{ margin-left:0px;}

header #header .header_inner .header_right ul.outline li{
	float:left;
	margin-left:10px;
}

header #header .header_inner .header_right ul.head_nav {
	overflow: hidden;
	margin-top: 2px;
	width:360px;
	float:left;
}
header #header .header_inner .header_right .head_nav li {
	float: left;
	font-size: 12px;
	line-height: 12px;
	margin-left:5px;
	background: url(../images/common_new/icon01.jpg) no-repeat left;
	padding: 0 7px;
}
header #header .header_inner .header_right .head_nav li:first-child {
	margin-left:0px;
}
header #header .header_inner .header_right .head_nav li a {
	text-decoration: none;
	color: #000;
}
header #header .header_inner .header_right .head_nav li a:hover {
	text-decoration: underline;
	color: #000;
}

header #header .header_inner .header_right .facebook{
	float:left;
	width:100px;
	margin-top:-3px !important;
	}






header #header .header_inner h1 {
	float: left;
	position:relative;
	height:100px;
	z-index:999;
}
header #header .header_inner h1 img{
	position:absolute;
	top:40px;
	left:0;
	z-index:999;	
	}
nav#grobal {
	width: 100%;
	position: relative;
	height: 100px;
	padding:15px 0;
	background: #fbca2a;
	border-top: 1px #f0eeec solid;
}
ul#gnav {
	width: 1100px;
	margin: 0 auto;
}
ul#gnav li {
	text-align:center;
	float: left;
	width:135px;
	position: relative;
	border-left:1px solid #fddf7f;
}
ul#gnav li.boder_nav{
	border-right:#d7b959 1px solid;
	}
ul#gnav li:first-child {
	border-left:none;
	}

ul#gnav li ul {
	display: none;
	position: absolute;
	top: 100%;
	z-index: 100;
	left: 2px;
}
ul#gnav li ul li {
	float: none;
}


.arrow_box01 {
  display: none;
  position: absolute;
	color: #fff;
	top:102px;
	z-index:999;
	left:-23px;
}

.arrow_box02 {
  display: none;
  position: absolute;
	color: #fff;
	top:102px;
	z-index:999;
	left:-23px;
}

.arrow_boxlast {
	left:-234px !important;
}

.arrow_boxlast02 {
	left:-180px !important;
}


/*背景*/

#contents_bg_index {
	margin: 0px auto 0;
}
#contents_bg {
	margin: 10px auto 0;
}
/*contents*/

#contents {
	width: 1100px;
	margin: 0 auto;
    overflow:hidden;

}
#contents_form {
	width: 1100px;
	margin: 0 auto;
  

}
#contents_left {
	float: left;
	width: 814px;
}
#contents_left #breadcrumb {
	margin-top: 13px;
}
#contents_left #breadcrumb li {
	float: left;
}
#contents_left #breadcrumb li span {
	margin: 0 3px;
}
#contents_left #breadcrumb li a {
	color: #e1522a;
	text-decoration: none;
}
#contents_left #breadcrumb li a:hover {
	color: #e1522a;
	text-decoration: underline;
}
/*side*/
#contents_right {
	float: right;
	width: 260px;
	display: block;
	padding: 10px 0 42px;
	background: url(../images/common/side/sbg.jpg);
}
#contents_right .contents_inner {
	width: 260px;
	margin: 0 auto;
}
#contents_right .contents_inner #side_nav {
	width: 280px;
}
#contents_right .contents_inner #side_nav li {
	margin-bottom: 15px;
}
#contents_right .contents_inner #side_nav li ul.side_inner {
	width: 276px;
	padding-top: 12px;
	background-color: rgba(255,255,255,0.6);
 filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7fffffff, endcolorstr=#7fffffff, gradienttype=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff,endColorstr=#7fffffff)";
	zoom: 1;
	border-left: 2px #006464 solid;
	border-right: 2px #006464 solid;
	border-bottom: 2px #006464 solid;
}
#contents_right .contents_inner #side_nav li ul.side_inner li {
	background: url(../images/common/parts/arrow_right.png) no-repeat left;
	padding-left: 20px;
	font-size: 16px;
	line-height: 16px;
	margin: 0 0 12px 20px;
}
#contents_right .contents_inner #side_nav li ul.side_inner li a {
	color: #000;
	text-decoration: none;
}
#contents_right .contents_inner #side_nav li ul.side_inner li a:hover {
	color: #000;
	text-decoration: underline;
}
#contents_right section.recommend_area {
	width: 100%;
	margin-bottom: 20px;
}
#contents_right section.concern_area {
	width: 100%;
}
#contents_right section.recommend_area h2, #contents_right section.concern_area h2 {
	text-align: center;
}
#contents_right .recommend {
	width: 260px;
	margin: 0 auto;
	padding: 20px 0 15px;
	overflow: hidden;
}
#contents_right .recommend ul {
	overflow: hidden;
}
#contents_right .recommend li {
	margin-left: 13px;
	width: 70px;
	float: left;
}
#contents_right .recommend li img {
	margin-bottom: 5px;
}
#contents_right .recommend li p {
	font-size: 11px;
	margin-bottom: 10px;
}
#contents_right .recommend li a p {
	color: #e1522a;
	text-decoration: none;
}
#contents_right .recommend li a:hover p {
	color: #e1522a;
	text-decoration: underline;
}
#blog_right {
	width: 255px;
	margin: 0 auto;
	margin-top: 10px;
}
#blog_right h2 {
	text-align: center;
}
.recommend li a span {
	overflow: hidden;
	width: 75px;
	display: block;
	height: 75px;
}
#blog_right ul{
    margin-top:15px;}
#blog_right li{
    text-align:center;
    }

/*footer*/

footer {
	width: 100%;
padding-bottom: 17px;
	background: #e8e7df;
}
footer #footer_top {
	background: #e8e7df;
	padding: 15px 0 9px;
	width: 100%;
}
footer #footer_bottom {
	background: #e8e7df;
	padding: 15px 0;
	width: 100%;
	line-height: 12px;
	color: #FFF;
}
footer #footer_top a {
	color: #535353;
}
footer #footer_top a:hover {
		color: #535353;
	text-decoration: underline;
}
footer #footer_top h1 {
	font-weight:normal;
	font-size:16px;
}
footer #footer_top strong {
	font-weight: bold;
}
footer .footer {
	margin: 0 auto;
	width: 1100px;
	overflow: hidden;
}
footer .footer_left {
	float: left;
	text-align: left;
	/*width: 650px;*/
}
footer .footer_left ul {
	coverflow: hidden;
}
footer .footer_left li {
	float: left;
	padding-left: 10px;
	border-left: 1px #fff solid;
}
footer .footer_left li:first-child {
	padding-left: 0;
	margin-right: 10px;
	border-left: none;
}
footer .footer_left li a {
	color: #fff;
}
footer .footer_left li a:hover {
	color: #fff;
	text-decoration: underline;
}
footer .footer_right {
	float: right;
	text-align: right;
	width: 450px;
}
footer #footer h1 {
	float: left;
}
footer #footer .footer {
	float: right;
	color: #FFF;
	padding-top: 13px;
}
a:visited {
	text-decoration: none;
}
