@charset "UTF-8";

.btn_mail {
	background: url("../images/deguti/reform_img_03.png") no-repeat;
	width: 756px;
	height: 427px;
}

.btn_mail img {
	width: 458px;
	margin: 108px 0 0 150px;
}

.m_t97 {margin-top: -97px;}
.m_t40 {margin-top: 40px;}
.m_t35 {margin-top: 35px;}
.m_t30 {margin-top: -30px;}
.m_t25 {margin-top: 25px;}
.m_b55 {margin-bottom: 55px;}
.m_b35 {margin-bottom: 35px;}
.m_b18 {margin-bottom: 18px;}
.m_l20 {margin-left: 20px;}
.m_l15 {margin-left: 15px;}
.m_l10 {margin-left: 10px;}
.m_b10 {margin-bottom: 10px;}
.p_t10 {padding-top: 10px;}
.p_t2 {padding-top: 2px;}


.bg_exp {
	background: url("../images/deguti/img_exp.png") no-repeat;
	width: 755px;
	height: 221px;
	position: relative;
}

.kanazawa_office {
	position: absolute;
	top: 65px;
	left: 315px;
}

.toyama_office {
	position: absolute;
	top: 35px;
	left: 550px;
}

.img_knowledge {
	background: url("../images/deguti/img_knowledge.png") no-repeat;
	width: 754px;
	height: 588px;
	position: relative;
}

.img_knowledge a img {
	position: absolute;
	bottom: 18px;
	right: 23px;
}
.img_knowledge a img.toyama {
	position: absolute;
	bottom: 100px;
	right: 24px;
}

.exit {
	text-align: center;
}
.exit .oh {
	overflow: hidden;
}
.oh.cent {
	width: 497px;
	margin-right: auto;
	margin-left: auto;
}
.exit .oh img {
	float: left;
}
.exit .oh .flr {
	float: right;
}

.control {
	overflow: hidden;
	width: 322px;
	margin: 0 auto;
	margin-bottom: 85px;
}

.control img {
	float: left;
	padding-left: 20px;
}

.control a:first-child img {
	padding-left: 0;
}


.exit a img:hover {
	alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
}

.cf:after {  
  content: ".";   
  display: block;   
  height: 0;   
  clear: both;   
  visibility: hidden;
}

.dummy {
	margin-bottom: 30px;
}

.single_page_navi {  margin:20px 0 30px;}

.single_page_navi li {
	float:left;
	width:249px;
}

.single_page_navi .btn_prev { text-align:left;}

.single_page_navi	.btn_list { text-align:center;}

.single_page_navi	.btn_next { text-align:right;}

.oh.cent_3 {
	width: 100%;
	display:table;
	margin:10px auto 30px;
}

.oh.cent_3 .img_kotira { padding:23px 5px 0 0;}

.width_big { width:780px;}

.img_kengakupoint {
	background: url("../images/deguti/img_kengakupoint.png") no-repeat;
	width: 754px;
	height: 558px;
	position: relative;
}

.img_kengakupoint a img {
	position: absolute;
	bottom: 30px;
	right: 23px;
}

