@charset "UTF-8";

.single_page_navi {  margin:20px 0 30px;}

.single_page_navi li {
	float:left;
	width:249px;
}

.single_page_navi .btn_prev { text-align:left;}

.single_page_navi	.btn_list { text-align:center;}

.single_page_navi	.btn_next { text-align:right;}

.oh.cent_3 {
	width: 100%;
	display:table;
	margin:10px auto 30px;
}

.oh.cent_3 .img_kotira { padding:23px 5px 0 0;}

.width_big { width:780px;}

.img_kengakupoint {
	background: url("../images/deguti/img_kengakupoint.png") no-repeat;
	width: 754px;
	height: 558px;
	position: relative;
}

.img_kengakupoint a img {
	position: absolute;
	bottom: 30px;
	right: 23px;
}

