@charset "UTF-8";
/******CSS form*******/
/* index お問い合わせ */			
#form_contents {
	margin-top: 20px;
	margin-bottom: 20px;
}
#form_contents #form_page {
	width: 1100px;
	background: url("../images/common/form_page/form_bg01.jpg") repeat left top;
	border: 1px solid #ababab;
	position: relative;
}

#form_contents #form_page .form_top {
	width:1068px;
	position:relative;
	margin:5px auto 30px;
}

#form_contents #form_page .form_top .img_tanekiti {
	width:106px;
	position:absolute;
	top:-20px;
	left:-27px;
}

#form_contents #form_page .form_top .img_fukidashi {
	margin:0 0 0 93px;
}

#form_contents #form_page .form_top .form_list_01 {
	margin:0 0 10px 112px;
}

#form_contents #form_page .form_top .form_list_01 li {
	float:left;
}

#form_contents #form_page .form_top .form_list_02 {
	margin:0 0 13px 0;
}

#form_contents #form_page .form_top .form_list_02 li:first-child { margin-left:0px;}
#form_contents #form_page .form_top .form_list_02 li {
	float:left;
	margin-left:12px;
}

#form_contents #form_page .form_main {
	width:1068px;
	margin:0 auto;
}

#form_contents #form_page .form_main input[type="radio"],
#form_contents #form_page .form_main input[type="checkbox"] {
	margin-right:5px; 
}

#form_contents #form_page .form_main>p {
	font-size:14px;
	margin:10px 0 5px;
}

#form_contents #form_page .form_main .txt_red {
	color:#b81042;
}

#form_contents #form_page .form_main .form_table_01 {
	margin-bottom:5px;
}

#form_contents #form_page .form_main .form_table_01 tr {
	background:#fff;
}

#form_contents #form_page .form_main .form_table_01 th {
	width:230px;
	padding:10px 10px 10px 50px;
	font-size:12px;
	line-height:16px;
	border:1px solid #000;
	background: url("../images/form_new/ico_arrow.jpg") no-repeat 10px center;
}

#form_contents #form_page .form_main .form_table_01 th b {
	font-size:13px;
}

#form_contents #form_page .form_main .form_table_01 th p {
	font-size:11px;
	line-height:14px;
	margin:10px 0 0;
}

#form_contents #form_page .form_main .form_table_01 td {
	width:745px;
	padding:15px;
	font-size:16px;
	border:1px solid #000;
}

#form_contents #form_page .form_main .form_table_01 td .clearfix {
	width:600px;
}

#form_contents #form_page .form_main .form_table_01 td div .right {
	font-size:12px;
}

#form_contents #form_page .form_main .form_table_01 td  table {
	width:580px;
	margin:10px 0 0;
}

#form_contents #form_page .form_main .form_table_01 td table th {
	width:180px;
	color:#fff;
	padding:10px;
	font-size:12px;
	border:1px solid #ababab;
	background:#b81042;
}

#form_contents #form_page .form_main .form_table_01 td table td {
	width:358px;
	font-size:12px;
	line-height:30px;
	letter-spacing:-0.5px;
	padding:10px;
	border:1px solid #ababab;
}

#form_contents #form_page .form_main .form_table_01 td table td select{
	margin:0 3px;
	font-size:11px;
	letter-spacing:-0.5px;
}

#form_contents #form_page .form_main .form_table_01 td table td input[type="text"] {
	width:155px;
	margin-right:5px;
}

#form_contents #form_page .form_main .form_table_02{
	margin-bottom:5px;
}

#form_contents #form_page .form_main .form_table_02 td {
	width:1068px;
	padding:15px;
	font-size:16px;
	border:1px solid #000;
	background:#fff;
}

#form_contents #form_page .form_main .form_table_02 td li:first-child { margin-left:0px;}
#form_contents #form_page .form_main .form_table_02 td li {
	float:left;
	margin-left:40px;
}

#form_contents #form_page .form_main .form_table_03 {
	margin-bottom:5px;
}

#form_contents #form_page .form_main .form_table_03 th {
	width:245px;
	color:#fff;
	padding:10px 10px 10px 10px;
	font-size:14px;
	text-align:center;
	line-height:16px;
	border:1px solid #000;
	background:#f39800;
}

#form_contents #form_page .form_main .form_table_03 th dt {
	width:120px;
	vertical-align:middle;
	display:inline-block;
	*display: inline;  
	*zoom: 1;  
}

#form_contents #form_page .form_main .form_table_03 th dd {
	width:110px;
	font-size:12px;
	line-height:13px;
	color:#b81042;
	background:#ffcc66;
	vertical-align:middle;
	display:inline-block;
	*display: inline;  
	*zoom: 1;  
}

#form_contents #form_page .form_main .form_table_03 th dd .right_box_top {
	vertical-align:top;
	height:8px;
}

#form_contents #form_page .form_main .form_table_03 th dd .right_box_top {
	vertical-align:top;
	height:8px;
}

#form_contents #form_page .form_main .form_table_03 th dd span {
	font-size:16px;
	line-height:25px;
}

#form_contents #form_page .form_main .form_table_03 td {
	width:770px;
	padding:15px;
	font-size:12px;
	border:1px solid #000;
	background:#fff;
}

#form_contents #form_page .form_main .form_table_03 td>p:first-child { margin-top:0px;}
#form_contents #form_page .form_main .form_table_03 td>p {
	margin-top:10px;
	line-height:15px;
}

#form_contents #form_page .form_main .form_table_03 td input[type="text"] {
	margin:2px 3px 5px 0;
}

#form_contents #form_page .form_main .form_table_03 td .size_l input[type="text"] {
	width:420px;
}

#form_contents #form_page .form_main .form_table_03 td .size_m input[type="email"] ,
#form_contents #form_page .form_main .form_table_03 td .size_m input[type="text"] {
	width:230px;
}

#form_contents #form_page .form_main .form_table_03 td .size_s input[type="text"] {
	width:100px;
}

#form_contents #form_page .form_main .form_table_03 td .size_ss input[type="text"] {
	width:50px;
}

#form_contents #form_page .form_main .form_table_03 td textarea {
	width:540px;
	height:160px;
	margin:10px 0 -10px;
	vertical-align:middle;
}

#form_contents #form_page .form_main .form_table_04 th {
	width:300px;
	background:#fff;
	padding:20px 0;
}

#form_contents #form_page .form_main .form_table_04 td {
	width:760px;
	padding:15px;
	background:#fff;
	text-align:center;
}

#form_contents #form_page .form_main .form_table_04 td p {
	font-size:15px;
	font-weight:bold;
}

#form_contents #form_page .form_main .form_table_04 td ul {
	width:180px;
	margin:30px auto 0;
}

#form_contents #form_page .form_main .form_table_04 td li:first-child { margin-left:0px;}
#form_contents #form_page .form_main .form_table_04 td li {
	font-size:16px;
	margin-left:60px;
	float:left;
}

#form_contents #form_page .form_main .btn_area {
	text-align:center;
	margin:30px 0 10px 0;
}

#form_contents #form_page .form_main .btn_area a {
	color:#f39800;
	font-size:14px;
}

#form_contents #form_page .form_main .btn_area a:hover {
	text-decoration:none;
}

#form_contents #form_page .form_main .btn_area input[type="submit"] {
	text-indent:-9999px;
	border:none;
	width:346px;
	height:46px;
	cursor:pointer;
	margin:8px 20;
	background:url(../images/form_new/btn_submit.png) left top no-repeat;
}

#form_contents #form_page .form_main .btn_area input[name="submitBack"] {
	background:url(../images/form_new/btn_back.png) left top no-repeat;
}

#form_contents #form_page .form_main .btn_area input[name="submitConfirm"] {
	background:url(../images/form_new/btn_kakunin.png) left top no-repeat;
}

#form_contents #form_page .form_main .btn_area p{
	text-align:left;
	font-size:12px;
	line-height:16px;
	color:#b81042;
	margin:30px 0 0;
}

#form_contents #form_page .form_main .tanks_area {
	text-align:center;
	margin:0 0 80px;
}

#form_contents #form_page .form_main .tanks_area h3 {
	font-size:20px;
	font-weight:bold;
	margin:10px 0;
}

#form_contents #form_page .form_main .tanks_area p {
	margin:0 0 20px;
}




/* index お問い合わせ */			
#form_contents_02 {
	margin-top: 20px;
	margin-bottom: 20px;
}
#form_contents_02 #form_page {
	width: 1100px;
	background: url("../images/common/form_page/form_bg01.jpg") repeat left top;
	border: 1px solid #ababab;
	position: relative;
}

#form_contents_02 #form_page .form_top {
	width:1068px;
	position:relative;
	margin:5px auto 30px;
}

#form_contents_02 #form_page .form_top h4 {
	margin:-10px 0 0 -15px;
}

#form_contents_02 #form_page .form_top .img_fukidashi {
	margin:0 0 0 93px;
}

#form_contents_02 #form_page .form_top .form_list_01 {
	margin:0 0 10px 112px;
}

#form_contents_02 #form_page .form_top .form_list_01 li {
	float:left;
}

#form_contents_02 #form_page .form_top .form_list_02 li:first-child { margin-left:0px;}
#form_contents_02 #form_page .form_top .form_list_02 li {
	float:left;
	margin-left:12px;
	margin-bottom:15px;
}

#form_contents_02 #form_page table {
	width:100%;
}

#form_contents_02 #form_page table p {
	font-weight:bold;
}

#form_contents_02 #form_page .form_main {
	width:1068px;
	margin:0 auto;
}

#form_contents_02 #form_page .form_main input[type="radio"],
#form_contents_02 #form_page .form_main input[type="checkbox"] {
	margin-right:5px; 
}

#form_contents_02 #form_page form>p {
	font-size:14px;
	margin:10px 0;
}

#form_contents_02 #form_page .form_main .txt_red {
	color:#b81042;
}

#form_contents_02 #form_page .form_main .form_table_03 {
}

#form_contents_02 #form_page .form_main .form_table_02 {
	margin:-1px 0;
}

#form_contents_02 #form_page .form_main .form_table_03 th,
#form_contents_02 #form_page .form_main .form_table_02 th {
	width:240px;
	color:#c52929;
	padding:20px 10px 20px 25px;
	font-size:14px;
	font-weight:bold;
	text-align:left;
	line-height:16px;
	border:1px solid #d2d2d2;
	background:#e8e8e8;
	vertical-align:middle;
}
#form_contents_02 #form_page .form_main .form_table_03 th p {
	color:#575757;
}

#form_contents_02 #form_page .form_main .form_table_02 td {
	width:770px;
	padding:15px;
	font-size:14px;
	color:#333333;
	font-weight:bold;
	border:1px solid #d2d2d2;
	background:#fff;
}

#form_contents_02 #form_page .form_main .form_table_02 table {
	width:900px;
	margin:0 0 0 120px;
}

#form_contents_02 #form_page .form_main .form_table_02 table td {
	border:none;
	padding:15px 0;
}

#form_contents_02 #form_page .form_main .form_table_02 td .size_s input[type="text"]  {
	width:250px;
}

#form_contents_02 #form_page .form_main .form_table_02 td li {
	float:left;
	margin-left:40px;
	line-height:48px;
}

#form_contents_02 #form_page .form_main .form_table_03 td {
	width:770px;
	padding:15px;
	font-size:14px;
	color:#333333;;
	border:1px solid #d2d2d2;
	background:#fff;
}

#form_contents_02 #form_page .form_main .form_table_03 table {
}

#form_contents_02 #form_page .form_main .form_table_03 table th {
	width:150px;
	background:#fff;
	color:#333;
	border:none;
	padding:10px 0;
}

#form_contents_02 #form_page .form_main .form_table_03 table td {
	border:none;
	padding:10px 0;
}

#form_contents_02 #form_page .form_main .form_table_03 table.table_in_table01  {
	width:700px;
}

#form_contents_02 #form_page .form_main .form_table_03 table.table_in_table01 td:first-child {
	width:320px;
	border:none;
	padding: 0 ;
	font-weight:bold;
}

#form_contents_02 #form_page .form_main .form_table_03 table.table_in_table01 td {
	width:380px;
	border:none;
	padding:0 0;
	font-weight:bold;
}


#form_contents_02 #form_page .form_main .form_table_03 td>p:first-child { margin-top:0px;}
#form_contents_02 #form_page .form_main .form_table_03 td>p {
	margin-top:10px;
	line-height:15px;
}

#form_contents_02 #form_page .form_main td input[type="text"] {
	margin:2px 10px 5px 0;
}

#form_contents_02 #form_page .form_main  td .size_l input[type="text"] {
	width:420px;
}

#form_contents_02 #form_page .form_main  td .size_m input[type="email"] ,
#form_contents_02 #form_page .form_main  td .size_m input[type="text"] {
	width:230px;
}

#form_contents_02 #form_page .form_main  td .size_s input[type="text"] {
	width:100px;
}

#form_contents_02 #form_page .form_main  td .size_ss input[type="text"] {
	width:50px;
}

#form_contents_02 #form_page .form_main .form_table_03 td textarea {
	width:540px;
	height:160px;
	margin:0 10px 0 0;
	vertical-align:middle;
}

#form_contents_02 #form_page .form_main .form_table_04 th {
	width:300px;
	background:#fff;
	padding:20px 0;
}

#form_contents_02 #form_page .form_main .form_table_04 td {
	width:760px;
	padding:15px;
	background:#fff;
	text-align:center;
}

#form_contents_02 #form_page .form_main .form_table_04 td p {
	font-size:15px;
	font-weight:bold;
}

#form_contents_02 #form_page .form_main .form_table_04 td ul {
	width:180px;
	margin:30px auto 0;
}

#form_contents_02 #form_page .form_main .form_table_04 td li:first-child { margin-left:0px;}
#form_contents_02 #form_page .form_main .form_table_04 td li {
	font-size:16px;
	margin-left:60px;
	float:left;
}

#form_contents_02 #form_page .form_main .btn_area {
	text-align:center;
	margin:30px 0 10px 0;
}

#form_contents_02 #form_page .form_main .btn_area a {
	color:#f39800;
	font-size:14px;
}

#form_contents_02 #form_page .form_main .btn_area a:hover {
	text-decoration:none;
}

#form_contents_02 #form_page .form_main .btn_area input[type="submit"] {
	text-indent:-9999px;
	border:none;
	width:346px;
	height:46px;
	cursor:pointer;
	margin:8px 20;
	background:url(../images/form_new/btn_submit.png) left top no-repeat;
}

#form_contents_02 #form_page .form_main .btn_area input[name="submitBack"] {
	background:url(../images/form_new/btn_back.png) left top no-repeat;
}

#form_contents_02 #form_page .form_main .btn_area input[name="submitConfirm"] {
	background:url(../images/form_new/btn_kakunin.png) left top no-repeat;
}

#form_contents_02 #form_page .form_main .btn_area p{
	text-align:left;
	font-size:12px;
	line-height:16px;
	color:#b81042;
	margin:30px 0 0;
}

#form_contents_02 #form_page .form_main .tanks_area {
	text-align:center;
	margin:0 0 80px;
}

#form_contents_02 #form_page .form_main .tanks_area h3 {
	font-size:20px;
	font-weight:bold;
	margin:10px 0;
}

#form_contents_02 #form_page .form_main .tanks_area p {
	margin:0 0 20px;
}

.mw_wp_form .error {
	font-size:12px !important;
	font-weight:normal !important;
	display:inline !important;
}















