@charset "UTF-8";
.mr_t5 {margin-top: 5px;}
.mr_t10 {margin-top: 10px;}
.mr_t15 {margin-top: 15px;}
.mr_t20 {margin-top: 20px;}
.mr_t25 {margin-top: 25px;}
.mr_t45 {margin-top: 45px;}
.mr_t80 {margin-top: 80px;}
.mr_l5 {margin-left: 5px;}
.mr_l10 {margin-left: 10px;}
.mr_l15 {margin-left: 15px;}
.mr_l30 {margin-left: 30px;}
.mr_l40 {margin-left: 40px;}
.mr_l45 {margin-left: 45px;}
.mr_l-25 {margin-left: -25px;}
.mr_b5 {margin-bottom: 5px;}
.mr_b25 {margin-bottom: 25px;}
.mr_b50 {margin-bottom: 50px;}
.center {display: block;margin-left: auto;margin-right: auto;}
.w680 {width: 680px;}
.w700 {width: 700px;}

#plan_content h3 {
	margin: 8px;
}

#plan_content .plan_nav {
	width: 640px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 30px;
}

#plan_content h5 {
	margin: 35px 0 15px 0;
}

#plan_content p.extra_performance {
	font-size: 12px;
	margin: 20px 0 10px 5px;
}

.bridging_loan {
	background: url("../images/plan/bridging_loan.jpg") no-repeat;
	width: 751px;
	height: 453px;
	margin: 25px 0 40px 0;
}

#plan_content .bridging_loan p {
	font-size: 14px;
	width: 640px;
	padding: 160px 0 0 90px;
}

.bg_return {
	background: url("../images/plan/bg_return.jpg") no-repeat;
	width: 751px;
	height: 504px;
	margin: 30px 0 40px 0;
}

#content .return_txt_01 {
	width: 705px;
	font-size: 15px;
	line-height: 1.5em;
	padding: 80px 0 0 25px;
}

#content .return_txt_02 {
	width: 705px;
	font-size: 15px;
	line-height: 1.5em;
	padding: 185px 0 0 25px;
}

#content .housing_loan {
	font-size: 15px;
	font-weight: bold;
	text-align: center;
}

.bank {
	overflow: hidden;
}

.bank img {
	float: left;
	margin-left: 32px;
}

.bank a:first-child img {
	margin-left: 0;
}

p.compensation {
	font-size: 16px;
	color: #f70000;
}

.btn {
	overflow: hidden;
	width: 755px;
	margin: 10px 0 30px 0;
}

.btn img {
	float: left;
	margin: 0 0 5px 13px;
}

.btn a:nth-child(odd) img {
	margin-left: 0;
}