@charset "UTF-8";

#contents_president {
	width: 1100px;
	margin:0 auto;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
#main.president {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	width: 815px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background:none !important;
}
#main.president p {
	padding:0;
	margin:0;
	display: inline;
	line-height: 0;
}
#main.president #container {
	background:none !important;
	padding-left: 0px;
	width: 815px;
	overflow: visible;
}
#main.president  #container #content.president  {
	width:815px;
	background:none !important;
	position: relative;
	z-index: 1;
	padding-top:1315px;
	overflow: visible;
}
#main.president  #container #content.president img {
	max-width: none;
}

#main.president  #container .hentry {
	margin: 0;
}

#content.president .photo {
	position: absolute;
	z-index:100;
	left:0px;
	top:38px;
}
/*#content.president .btn_02 {
	position: absolute;
	z-index:100;
	left:470px;
	top:1150px;
}*/
#content.president .blog_btn {
	position: absolute;
	z-index:100;
	left:500px;
	top:258px;
}
#content.president .blog_btn img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
}
#content.president .profile {
	position: absolute;
	z-index:90;
	left:0px;
	top:306px;
}
#content.president .p_photo_1 {
	position: absolute;
	z-index:90;
	left:0px;
	top:1240px;
}
#content.president .p_photo_2 {
	position: absolute;
	z-index:90;
	left:34px;
	top:1017px;
}
#content.president .x_mg {
	margin-left: -10px;
}
#content.president .messege {
	width: 815px;
	padding: 54px 0;
	min-height:2960px;
	margin: 90px auto 0;
	background: url("/wp-content/themes/nopy/images/president/img02_bg.png") no-repeat left top;
	font-size: 13px;
}
#content.president .messege .box1 {
	width: 440px;
	margin:66px 0 0 330px;
	height:210px;
}
#content.president .messege h3 {
	font-size: 20px;
	color:#ea8100;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	background: url("/wp-content/themes/nopy/images/president/dot.jpg") repeat-x left bottom;
}
#content.president .messege h3.no_line {
	background: none;
}
#content.president .messege .inner {
	width: 725px;
	margin:0 auto;
}
#content.president .messege .inner strong {
	font-weight: bold;
}
#content.president .pos_01 {
	position: absolute;
	z-index:100;
	top:580px;
	right:-20px;
}
#content.president .pos_02 {
	position: absolute;
	z-index:100;
	top:1016px;
	right:-32px;
}
#content.president .pos_03 {
	position: absolute;
	z-index:100;
	top:3540px;
	left:-45px;
}
#content.president .pos_04 {
	position: absolute;
	z-index:100;
	top:4070px;
	left:-25px;
}