@charset "UTF-8";

h3 {
	margin-bottom: 17px;
}

#reform {
	width: 738px;
	text-align: left;
	position: relative;
}
#reform .btn_works {
	position: absolute;
	top: 219px;
	right: 21px;
}
#reform_lineup {
	width: 736px;
	margin-bottom: 16px;
}
#reform_lineup .lineup_deta_list {
	overflow: hidden;
	width: 540px;
	margin: 10px auto 20px;
}
#reform_lineup .lineup_deta_list li {
	display: block;
	float: left;
	margin: 0;
	width: 160px;
	overflow: hidden;
	margin-left: 30px;
}
#reform_lineup .lineup_deta_list li a {
	text-decoration: none;
	color: #000;
}
#reform_lineup .lineup_deta_list li:first-child {
	margin-left: 0;
}
#reform_lineup .lineup_deta_list p {
	background: url("../images/reform/lineup_listmark.jpg") no-repeat left 7px;
	font-size: 10px;
	line-height: 1.2em;
	padding-top: 5px;
	padding-left: 10px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#reform_lineup h4 {
	margin-bottom: 12px;
	overflow: hidden;
}
#reform_3col {
	overflow: hidden;
	margin-top: 30px;
}
#reform_3col li {
	float: left;
	margin: 0;
	width: auto;
	display: block;
	vertical-align: bottom;
	margin-left: 4px;
}
#reform_3col li:first-child {
	margin-left: 0;
}
#reform_3col li img,
#re_list_btn li img,
#deta li img {
	max-height: none;
	max-width: none;
}

#reform_other_list {
	overflow: hidden;
	width: 680px;
	margin: 0 auto;
}
#reform_other_list li {
	float: left;
	display: block;
	width: 160px;
	margin-left: 90px;
}
#reform_other_list li:first-child {
	margin-left: 0;
}
#reform_other_list li a {
	text-decoration: none;
	color: #000;
}
#reform_other_list li p {
	background: url("../images/reform/lineup_listmark.jpg") no-repeat left 7px;
	font-size: 10px;
	line-height: 1.2em;
	padding-top: 5px;
	padding-left: 10px;
	margin-bottom: 0;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#content .reform_title {
	background: url("../images/reform/ttl_list.jpg") no-repeat left top;
	font-size: 28px;
	color: #33170a;
	font-weight: bold;
	line-height: 1em;
	margin-bottom: 15px;
	padding: 17px 0 32px 80px;
	letter-spacing: 1px;
	width: 656px;
}
.reform_title span {
	font-size: 36px;
	padding-right: 2px;
}
.reform_title span.sml {
	float: right;
	font-size: 14px;
	padding-right: 0;
}
#content #re_list_btn {
	overflow: hidden;
	margin-bottom: 60px;
}
#re_list_btn li {
	float: left;
	margin: 0;
	width: auto;
	display: block;
	vertical-align: bottom;
}

#content #deta {
	background: url("../images/reform/bg_btn.png") no-repeat left top;
	width: 736px;
	overflow: hidden;
	padding: 16px 0 15px 0;
	margin: 70px 0 125px 0;
}
#deta li {
	float: left;
	margin: 0;
	width: auto;
	display: block;
	vertical-align: bottom;
	margin-left: 167px;
}
#deta li:first-child {
	margin-left: 15px;
}

.foot {
	border:none;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	margin-top: 60px;
}


/*====================
	 マウスオーバー処理
====================*/
h3 a img:hover {
	opacity: 0.75;
}
#reform_lineup a img:hover {
	opacity: 0.75;
}
#reform_3col a img:hover {
	opacity: 0.75;
}
#reform_other_list a img:hover {
	opacity: 0.75;
}
#re_list_btn a img:hover {
	opacity: 0.75;
}