@charset "UTF-8";
/**********Aパターン***********/


	
#staff{
	padding-top:30px;
	width:710px;
	margin:0 auto;
	}
	
	
#staff .photo-box{
	width:710px;
	margin:0 auto;
	overflow:hidden;
	}
#staff .photo-l01 {
	width:210px;
	float:left;
	}
#staff .photo-r01 {
	float:left;
	overflow:hidden;
	width:495px;
	}	
	
#staff .photo-r01 img{
	float:left;
	margin-left:20px;
	}	
	
#staff .photo-box img{
	border:3px solid #ffbb00;
	}	

#staff h1{
	padding-left:20px;
	font-size:33px;
	border-bottom:3px solid #ffc000;
	margin-top:20px;
	overflow:hidden;
	background: url(../images/staff/icon.jpg)  no-repeat left;
	}
	
#staff h1 img{
	float:right;
	}	
	
#staff .left01-box{
	float:left;
	margin-top:20px;
	width:240px;
	}
#staff .staff-box{
	width:710px;
	overflow:hidden;
	margin:20px auto 0;
	}
#staff .staff-box  .illust{
	margin-left:50px;
	}	
		
#staff .staff-box .fukidashi01{
	width:239px;
	}	
	
#staff .staff-box .fukidashi01 .txt-box {
	background:#ffbb00;
	text-align:left;
	margin:0 auto;
	}	
	

	
#staff p{
	margin:0 !important;
	}	
			
	
#staff .staff-box .fukidashi01 .txt-box p.fukidasi01{
	width:220px;
	color:#FFF;
	margin:0 auto !important;
	}



#staff .right01-box{
	float:right;
	margin-top:20px;
	width:440px;
	}

#staff h3{
	color:#f0861a;
	background: url(../images/staff/icon.jpg)  no-repeat left;
	padding-left:18px;
	padding-top:3px;
	margin-bottom:10px;
	font-size:18px;
	}
.icon01{
	overflow:hidden;
	}	
.icon01 li{
	margin-right:10px;
	float:left;
	}	
		

	
	
.table01 th{
	width:80px;
	background:#ffbb00;
	padding-left:15px;
	color:#fff !important;
	font-size:14px;
	border-right:#fff2bf solid 1px;
	border-bottom:#fff2bf solid 1px;
	}	
	
.table01 td{
	border-bottom:#fff2bf solid 1px;
	padding:5px 5px 5px 10px;
	font-size:14px;
	}		
	
.table01{
	margin-top:10px;
	border:1px solid #ffbe41;
	width:100%;
	}		
		
		
		
.episode-box01{
	overflow:hidden;
	border:1px solid #f0861a;
	}	
	
	
.episode-box01 .txt-left01 {
	float:left;
	width:380px;
	line-height:21px;
	font-size:16px;
	padding:15px;
	
	}	
.episode-box01 .img-right{
	float:right;
}


.coment-box01 dt.coment01{
	background:#ffe9b4;
	float:left;
	width:72px;
	border-left:1px #ffbe41 solid;
	border-bottom:1px #ffbe41 solid;
	border-top:1px #ffbe41 solid;
	padding:5px;
	}
.coment-box01 dt.coment01 img{
	border:1px solid #f0861a;
	}	
.coment-box01 dd.coment01{
	padding:5px;
	float:left;
	border-right:1px #ffbe41 solid;
	border-bottom:1px #ffbe41 solid;
	border-top:1px #ffbe41 solid;
	width:610px;
	background:#ffe9b4;
	margin-bottom:10px;
	}
	
.coment-box01 dt.coment02{
	background:#fff;
	float:left;
	width:72px;
	border-left:1px #ffbe41 solid;
	border-bottom:1px #ffbe41 solid;
	border-top:1px #ffbe41 solid;
	padding:5px;
	
	}	
	
.coment-box01 dt.coment02 img{
	border:1px solid #f0861a;
	}	
.coment-box01 dd.coment02{
	padding:5px;
	float:left;
	border-right:1px #ffbe41 solid;
	border-bottom:1px #ffbe41 solid;
	border-top:1px #ffbe41 solid;
	width:610px;
	margin-bottom:10px;
	background:#ffffff;
	}
	
	
.staff-box-commton {
	padding:10px;
	border:1px #ffbe41 solid;
	}
	
.staff-box-commton p{
	font-size:13px;
	}	
	
	
.closes{
	text-align:center;
	margin:0 auto;
	padding:25px;
	width:500px;
	}	
	
/**********Bパターン***********/

.b_wrapper{
	}

#b_area{
	width:700px;
	margin:0 auto;}
	
#photo_area_b{
	background:url(../images/staff/b/bg.jpg) repeat-x bottom;
	padding-bottom:98px;
	position: relative;
	z-index:10;}
	
#photo_area_b .profile{
	position: absolute;
	z-index: 10;
	width: 660px;
	height:236px;
	overflow: hidden;
	left: 20px;
	top: 170px;
}
	
#photo_area_b .profile .photo_box{
	float:left;
	padding-top:30px;}
	
#photo_area_b .profile .photo_box img{
	border: solid #FFF 5px;}
	
#photo_area_b .profile .illust_box{
	float:left;
	padding-top:75px;
	margin-left:20px;
	vertical-align:bottom;}
	
#photo_area_b .profile .detail_box{
	float:left;}
	
#photo_area_b .profile .detail_box .comment{
	width:222px;}
#photo_area_b .profile .detail_box .comment p {
	display:inline !important;
	}
#photo_area_b .profile .detail_box .comment .bg{
	background:url(../images/staff/b/comment_contents.png) repeat-y;
	width:222px;
	margin:0 auto;
 	}
	

#photo_area_b .profile .detail_box .comment .bg p{
	padding: 0 10px;
	font-size:12px;
	display:block !important;
	color:#FFF;}
	
#photo_area_b .profile .detail_box .icon_box ul{
	overflow:hidden;}
	
#photo_area_b .profile .detail_box .icon_box li{
	float:left;
	margin:3px;}
	
#photo_area_b .profile .detail_box .comment_shokunin{
	width:222px;}
#photo_area_b .profile .detail_box .comment_shokunin p {
	display:inline !important;
	}
#photo_area_b .profile .detail_box .comment_shokunin .bg{
	background:url(../images/staff/b/comment_contents.png) repeat-y;
	width:222px;
	margin:0 auto;
 	}
	

#photo_area_b .profile .detail_box .comment_shokunin .bg p{
	padding: 0 10px;
	font-size:12px;
	display:block !important;
	color:#FFF;}

#photo_area_b .profile .detail_box .comment_shokunin .comment_after {
	content: url(../images/shokunin/comment_left.png) no-repeat;
	position: absolute;
	left:180px;
	bottom:125px;
}

#photo_area_b .profile .detail_box .icon_box ul{
	overflow:hidden;}
	
#photo_area_b .profile .detail_box .icon_box li{
	float:left;
	margin:3px;}
	
#b_area h1{
	background:url(../images/staff/icon.jpg) no-repeat left;
	padding-left:20px;
	overflow:hidden;
	font-size:33px;
	margin-top:20px;
	border-bottom: solid 3px #ffc000;}	
	
#b_area h1 img{
	float:right;}
	

	
#b_area h3{
	background:url(../images/staff/icon.jpg) no-repeat left;
	padding-left:15px;
	font-size:18px;
	color:#f0861a;
	font-weight:bold;}
	

#b_area .prof_box {
	margin-top:20px;}
	
#b_area .prof_box table{
	border-collapse:collapse;
	border: solid 1px #ffbb00;}
	
#b_area .prof_box table th{
	width:80px;
	background:#ffbb00;
	padding-left:15px;
	color:#fff;
	font-size:14px;
	border-right:#fff2bf solid 1px;
	border-bottom:#fff2bf solid 1px;
	}	
	
#b_area .prof_box table td{
	border-bottom:#fff2bf solid 1px;
	padding:5px 5px 5px 10px;
	font-size:14px;
	}		
	
	
#b_area .prof_box table th.last_th{
	border-bottom: solid 1px #ffbb00;}
	
#b_area .prof_box table td.right_td{
	padding:0;
	border-bottom: solid 1px #ffbb00;
	border-left: solid 1px #ffbb00;}
	
#b_area .prof_box table td.last_td{
	border-bottom: solid 1px #ffbb00;}
	
	
#b_area .episode-box{
	margin-top:20px;
	
	}	
	
	
#b_area .episode-box .txt {
	
	line-height:21px;
	font-size:16px;
	background:#FFF;
	border:1px solid #f0861a;}
	
#b_area .episode-box .txt p{
	
	}
	
	
.comment_box_b {
	width:700px;
	margin:20px auto 0;
	overflow:hidden;
	}	
.comment_box_b li{
	border:3px solid #f0861a;
	float:left;
	margin-right:5px;}	
	
.comment_box_b .txt_box_b {
	float:left;
	margin-left:5px;
	width:340px;
	}


.comment_box_b .txt_box_b {
	float:left;
	margin-left:5px;
	width:340px;
	}
	
.comment_box_b .txt_box_b h4 {
	color:#FFF;
	font-size:15px;
	padding:5px;
	background:#ffcc57;
	}	
	
	
.illust_R {
	float:right;
	}	
		
	
	.vertical-top{
		vertical-align:top;
		}
	
	
	#content p, #content ul, #content ol, #content pre, #content hr{
		margin-bottom:0;}



/**********Cパターン***********/

.c_wrapper {
	background-image:url(../images/staff/c/bg.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	}

#c_area {
	width: 710px;
	margin:0 auto;
	padding-top:25px;
	}

#photo_area_c {
	width: 710px;
	height: 284px;
	margin:0 auto;
	}

.main_photo {
	width:357px;
	height:284px;
	padding-right:10px;
	float:left;
	}

.main_photo img {
	width: 357px;
	height: 284px;
	margin: 0px;
	padding: 0px;
	border-color: #FFFFFF;
	border-style: solid;
	}

.main_right {
	width:328px;
	float:right;
	margin: 0px;
	padding: 0px;
	}

.comment {
	width:325px;
	height:135px;
	}

.bg {
	width: 325px;
	height: 93px;
	background-image: url(../images/staff/c/comment.png);
	}
	
.bg p {
	width:290px;
	font-size:12px;
	margin:0 auto;
	}

.sub_photo {
	width:325px;
	height:150px;
	margin-top:3px;
	}

.photo02 {
	width: 224px;
	height: 146px;
	margin-right: 15px;
	float: left;
	border-color: #FFFFFF;
	border-style: solid;
	}
	
.photo03 {
	width:78px;
	height:150px;
	float:left;
	}	

#c_area h1 {
	margin-top: 28px;
	margin-bottom:16px;
	padding-left: 20px;
	background: url(../images/staff/icon.jpg) no-repeat left;
	font-size: 33px;
	border-bottom: #ffc000 solid 3px;
	}
	
#c_area h1 img {
	width:164px;
	height:40px;
	float:right;
	}
	
.icon_area {
	height:66px;
	margin-bottom:22px;
	}
	
.icon_area li {
	width:50px;
	height:66px;
	margin-right:10px;
	float:left;
	}

#c_area h3 {
	padding-left: 20px;
	margin-bottom:10px;
	background: url(../images/staff/icon.jpg) no-repeat left;
	font-size: 18px;
	color: #f0861a;
	font-weight: bold;
	}
	
.prof_box table {
	width: 710px;
	margin-bottom:30px;
	padding:0px;
	border: 2px solid #ffc400;
	}

.prof_box table th {
	width: 160px;
	padding-left: 14px;
	padding-top: 13px;
	padding-bottom: 13px;
	background-color: #ffc400;
	color: #FFF !important;
	font-size: 14px;
	font-weight: bold;
	border: #fff2bf 1px solid;
	}

.prof_box table td {
	padding-left: 18px;
	padding-top: 13px;
	padding-bottom: 13px;
	color: #535353;
	font-size: 14px;
	font-weight: bold;
	border: #fff2bf 1px solid;
	}

.episode-box {
	width:710px;
	}

.photo_box {
	width:176px;
	margin-right:20px;
	float:left;
	}



.txt_box {
	height: 187px;
	border: #f0861a 1px solid;
	margin-bottom:30px;
	}
	
.txt_box p {
	font-size: 13px;
	margin: 12px;
	}

.txt {
	padding-bottom:10px;
	border: #f0861a 1px solid;
	margin-bottom:30px;
	}
	
.txt p {
	font-size: 13px;
	margin: 12px;
	}


	

/**********dパターン***********/

.d_wrapper {
	background-image:url(../images/staff/d/bg.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	}

#d_area {
	width: 710px;
	margin:0 auto;
	padding-top:25px;
	}

#photo_area_d {
	width: 710px;
	
	margin:0 auto;
	}	
	
#d_area h3 {
	padding-left: 20px;
	margin-bottom:10px;
	background: url(../images/staff/icon.jpg) no-repeat left;
	font-size: 18px;
	color: #f0861a;
	font-weight: bold;
	}
	
#d_area h1 {
	margin-top: 28px;
	margin-bottom:16px;
	padding-left: 20px;
	background: url(../images/staff/icon.jpg) no-repeat left;
	font-size: 33px;
	border-bottom: #ffc000 solid 3px;
	}
	
#d_area h1 img {
	width:164px;
	height:40px;
	float:right;
	}
		
.sub_photo_d {
	width:325px;
	height:150px;
	margin-top:3px;
	}	
	
.sub_photo_d p{
	clear:both;
	margin:10px 0;
	color:#FFF;
	font-size:14px;
	}	
	
.box_d_con {
	clear:both;
	width:710px;
	padding:10px 0;
	margin:0 auto;
	overflow:hidden;
	}
	
	.box_d_con .character01{
		float:left;
		margin-top:70px;
		width:80px;
		}
	.box_d_con .photo_d01{
		float:left;
		margin-left:10px;
		border:4px #ffea00 solid;
		}	
		.box_d_con .photo_d02{
			float:right;
			width:320px;
			}
.box_d_con .photo_d02 p{
	font-size:16px;
	float:left;
	margin-top:10px;
	line-height:21px;
	width:220px;
	}			
.box_d_con .photo_d02_boder{
	float:left;
		border:4px #ffea00 solid;
		}			
	
.box_d_con .character02{
		float:right;
		margin-top:70px;
		width:80px;
		}	

.photo_box_d {
	width:320px;
	overflow:hidden;
	float:right;
	}
	
.photo_box_d img{
	border: #f0861a 1px solid;
	float:left;
	margin-left:10px;
	}	
.txt_box_d {
	float:left;
	width:380px;
	margin-bottom:30px;
	}	
.episode-box{
	overflow:hidden;
	}
	
.txt_box_d p{
	line-height:22px;
	background: url(../images/staff/d/p_bg.jpg)  top ;
	}	
	