@charset "UTF-8";
/******* CSS RESET *******/

html {
	height: auto;
}
body {
	height: auto;
	width: 100%;
	font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 1.6;
	background: #fffcd1;
	color: #535353;
	-webkit-text-size-adjust: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, figure, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	vertical-align: bottom;
	border: none;
	margin: 0;
	padding: 0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align: text-top;
}
sub {
	vertical-align: text-bottom;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}
/*to enable resizing for IE*/
input, textarea, select {
 *font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color: #000;
}
/******CSS STYLE*******/
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
#contents_bg a:hover img {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}
#contents_bg_index a:hover img.over {
	opacity: 0.8;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
}
.clearfix {
	width: 100%;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/******スマホボタン*******/
#sp {
    background:#6F4900;
    text-align:center;
    padding:25px 0;
    margin:0 auto;
    border-bottom:1px solid #fff;
}
#sp a{
    color:#fff;
    font-size:60px;
}

/**----- 140709 ランダムバナー -----**/
#bnr_large,
#bnr_twin {
	width: 100%;
	overflow: hidden;
}
#bnr_large li a img {
	width: 100%;
	text-align: center;
}
#bnr_twin li a {
	width: 48%;
	display: block;
	float: left;
	margin-left: 4%;
}
#bnr_twin li a:first-child {
	margin-left: 0;
}
#bnr_twin li a img {
	width: 100%;
}
