@charset "UTF-8";
.left { float:left;}
.right { float:right;}

#wood_content .oh {overflow: hidden;}
#wood_content .center {width: 100%; text-align: center;}
#wood_content .mr_t10 {margin-top: 10px;}
#wood_content .mr_t20 {margin-top: 20px;}
#wood_content .mr_t30 {margin-top: 30px;}
#wood_content .mr_t50 {margin-top: 50px;}
#wood_content .mr_b0 {margin-bottom: 0;}
#wood_content .mr_b20 {margin-bottom: 20px;}
.bold {font-weight: bold;}

#wood_content {
	margin-bottom: 30px;
}

#wood_content p {
	color: #6e2e0d;
	font-size: 14px;
	line-height: 1.7em;
	padding-left: 20px;
	padding-right: 10px;
}

.cf:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}




#wood_content h4 {
	margin: 0;
}

.h2_title {
	position: relative;
	margin-bottom: 70px;
	text-align: center;
}

.btn_prev {
	position: absolute;
	bottom: -35px;
	left: 20px;
	text-align: center;
}

.btn_next {
	position: absolute;
	bottom: -35px;
	right: 20px;
	text-align: center;
}

#content h3 {
	margin-bottom: 35px;
}

.what p:first-child {
	padding-top: 25px;
}

.what p:last-child {
	padding-top: 10px;
}

.what_img {
	float: right;
	width: 226px;
	margin: 0 5px 0 40px;
}

.table {
	width: 731px;
	margin: 0 auto;
}

#wood_content .table p {
	margin-top: 10px;
	padding: 0;
}

.table img:first-child {
	margin-bottom: 10px;
}

.wood_description {
	width: 731px;
	margin: 0 auto;
	margin-top: 30px;
}

.check {
	background: url("../images/wood_house/img_check.png") no-repeat;
	width: 736px;
	height: 241px;
	margin: 0 auto;
}

#wood_content .check p {
	padding: 80px 30px 0 240px;
}

.check p a {
	color: #6e2e0d;
	font-weight: bold;
}

.page_btn {
	margin-top: 40px;
	overflow: hidden;
}

.page_btn .next {
	float: left;
	margin: 37px 0 0 50px;
}

.page_btn2 {
	margin-top: 40px;
	position: relative;
}

.page_btn2 .prev {
	position: absolute;
	top: -15px;
	left: 50px;
}

.page_btn2 .next {
	position: absolute;
	top: 95px;
	left: 50px;
}

.page_btn ul,
.page_btn2 ul {
	float: right;
	text-align: right;
}

.page_btn ul li,
.page_btn2 ul li {
	margin-bottom: 2px;
}

.humidity {
	margin-top: 30px;
	width: 733px;
}

.humidity img {
	float: right;
	margin-left: 30px;
}

.dew img {
	float: right;
	margin: 21px 0 0 40px;
}

#wood_content .stress p {
	margin: 0;
	margin-top: 20px;
}

.stress img {
	margin-left: 70px;
}

.stress .img_graph {
	margin: 15px 0 15px 20px;
}

.child {
	overflow: hidden;
	margin-top: 20px;
}

.child p {
	float: left;
	width: 460px;
}

.child img {
	float: left;
}

.bg_reflect {
	background: url("../images/wood_house/bg_reflect.png") no-repeat;
	width: 731px;
	height: 257px;
	margin: 40px 0 0 19px;
}

.bg_reflect p {
	width: 415px;
	padding-top: 75px;
}