@charset "utf-8";
/*
Theme Name: nopy theme
Theme URI: http://who-s-next.com/
Description: カスタマイズテーマ、2010。
Author: Norihiro　Douken
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/






/* Reset default browser CSS. Based on work by nopy
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
}
a img { border: none; }

/*
背景
*/

.bg_f{
	background:#FFF;
	width:754px;
	margin:0 auto;
	padding-top:20px;
	}

#example {
	height:0px;
	position:relative;
text-align:right;}
.BGIndex{
	
	background: url(images/index-bg.jpg) no-repeat top center;}
.SideMane {
	text-align:center;}	
	
	.SideMane ul{
		margin-top:5px;}
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
	width: 1056px;
	background-image: url(images/contents_bg.gif);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 18px;
	overflow: hidden;
}
#content {
	margin:0 auto;
	background:#FFF;
	width: 790px;
	overflow:hidden;
	padding:0 0 28px 5px;
}
#container2 {
	width: 1056px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-left: 18px;
}
#content2 {
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
	width: 1050px;
	
	padding-right: 28px;
}
#wrap_topi_front {
	width:527px;
	float:left;
	
	padding-left: 3px;
	}
#topi_front_top {
	
	background-image:url(images/topi_bg_top.gif);
	width:527px;
	height:12px;
	margin: 0px;
	
	}
#topix_front {
	background-image:url(images/topi_bg_mid.gif);
	width:515px;
	padding-right: 6px;
	padding-left: 6px;
	position:relative;
	padding-top: 300px;
	}
#topi_front_btm {
	background-image:url(images/topi_bg_btm.gif);
	width:527px;
	margin: 0px;
	height: 7px;
	overflow: hidden;
	}
#topix_front .front_rdm_bnr {
	width:217px;
	position:absolute;
	padding-right: 20px;
	padding-left: 20px;
	top: 18px;
	left: 5px;
	} 
#secondary {
	clear: right;
}
#footer {
	clear: both;
}




#topix_front-new {
	background-image:url(images/topi_bg_mid.gif);
	width:515px;
	padding-right: 6px;
	padding-left: 6px;
	
	}
.h_topix_title-new {
	background-image:url(images/h_topix_title-new.gif);
	text-indent: -2000px;
	height: 68px;
	width: 494px;
}
.rss_area-new {
	margin:0 auto;
	width:494px;
}

.rss_top-bg-new{
	background:url(images/top-bg-new.jpg) no-repeat top;
	width:527px;
	margin:20px 0 0; 
	height:5px;}
	
	
	.new-con{
		width:494px;
		padding:10px 0; 
		margin:0 auto;}
	
.new-con li{
	list-style:none;
	padding:0px 0 5px; 
	border-bottom:#999 dotted 1px;}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	width: 790px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	overflow: hidden;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
	width: 790px;
	margin-top: 0;
	margin-right: 0px;
	margin-bottom: 0;
	margin-left: 0px;
	overflow: hidden;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit]
{
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}



/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */



/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}

#site-generator {
	float: right;
	width: 220px;
}



/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles  */
body {
	background-image: url(images/background.gif);
}

body,
input,
textarea {
	color: #666;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #E7E7E7;
	border:0;
	height: 1px;
	margin-bottom: 18px;
	clear:both;
}

/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style:upper-alpha;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom:0;
}
 
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	padding: 2px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
a:link,a:visited {
	color:#009999;
}
a:active,
a:hover {
	color: #FF4B33;
}

.area1_title {
	background-image:url(images/area1_title.gif);
	text-indent:-2000px;
	width:225px;
	height:17px;
	}
.area2_title {
	background-image:url(images/area2_title.gif);
	text-indent:-2000px;
	width:225px;
	height:17px;
	}
.area3_title {
	background-image:url(images/area3_title.gif);
	text-indent:-2000px;
	width:225px;
	height:17px;
	}
.h_topix_title {
	background-image:url(images/h_topix_title.gif);
	text-indent: -2000px;
	height: 68px;
	width: 310px;
}


.blog_topix_title2 {
	background-image:url(images/h_topix_title2.gif);
	text-indent: -2000px;
	height: 68px;
	width: 163px;
}

.blog_topix_title {
	background-image: url(images/blog_topix_title.gif);
	text-indent: -2000px;
	height: 68px;
	width: 248px;
}
.spl_title {
	text-indent: -2000px;
	}
	
	
	
	
	
	
	
	.LRBan{
		margin-top:10px;
		width:186px;
		background: url(images/topi_bg_top4.jpg)  repeat-y;
		float:right;}
	.LRBanTop{
		height:7px;
		background: url(images/topi_bg_title02.jpg)  no-repeat;
		width:186px;
		}	
	.LRBanC{
		padding:0px 0 0px;
		margin:0 auto;
		width:163px;}
		
	.LRBanC img{
		margin-bottom:4px;}	
			
	.LRBanBottom01{
		height:7px;
		background: url(images/topi_bg_bottom1.jpg)  no-repeat bottom;
		width:330px;
		}	
	.LRBanBottom{
		height:7px;
		background: url(images/topi_bg_bottom2.jpg)  no-repeat bottom;
		width:186px;
		}
#spl_cot_area {
	background-image:url(images/spl_title.gif);
	width:539px;
	overflow:hidden;
	padding-left: 8px;
	float: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	background-repeat: no-repeat;
	padding-top: 55px;
	background-position: right top;
	}
#spl_cot_area h2 {
	margin:0px;
	display: none;
	}
#spl_cot_area .spl_list .spl_bnr p {
	font-size: 12px;
	line-height: 16px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}

#spl_cot_area .spl_list{
	width:178px;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	overflow: hidden;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
#spl_cot_area .spl_list .spl_bnr {
	width:170px;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid #FF9900;
	overflow: hidden;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 0px;
	padding-left: 1px;
	margin-right: 2px;
	margin-left: 2px;
	}

#spl_cot_area .spl_list .spl_bnr img {
	width: 170px;
	padding-bottom: 0px;
	margin: 0px;
	}

.stf_blog_title {
	background-image:url(images/stf_blog_title.gif);
	text-indent: -2000px;
	height: 38px;
	width: 790px;
	}
.past_blog_title {
	background-image:url(images/past_blog_title.gif);
	text-indent: -2000px;
	height: 28px;
	width: 790px;
	}
.bl_ranking {
	background-image:url(images/bl_ranking.gif);
	width:1044px;
	text-indent: -2000px;
	height: 66px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	}
.piazze {
	background-image:url(images/h_piazze.gif);
	width:527px;
	height:59px;
	text-indent: -2000px;
	margin-top: 20px;
	margin-bottom: 20px;
	}
.prsi_ttl {
	background-image:url(images/prsi_ttl.gif);
	text-indent: -20000px;
	height: 89px;
	width: 790px;
	}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}



/* =Header
-------------------------------------------------------------- */

#header {
	
	margin: 0px;
	width: 100%;
	padding: 0px;
	
}
#site-title a {
	float: left;
	width: 240px;
	text-indent: -2000px;
	display: block;
	height: 60px;
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 18px;
	margin-left: 5px;
}

#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 14px 0 18px 0;
	width: 220px;
}

/* This is the custom header image */
#branding {
	display: block;
	background: url(images/header.gif) no-repeat;
	padding: 0px;
	height: 90px;
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: hidden;
}
#topmenu {
	width:360px;
	float: right;
	height: 24px;
	margin-top: 0px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	}
#topmenu ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#topmenu ul li {
float:left;
text-indent:-2000px;
}
#topmenu ul li a {
display:block;
}
a.um1:link,a.um1:visited {
background:url(images/um1.gif) no-repeat;
width:60px;

height:24px;
} 
a.um2:link,a.um2:visited {
background:url(images/um2.gif) no-repeat;
width:60px;
height:24px;
}
a.um3:link,a.um3:visited {
background:url(images/um3.gif) no-repeat;
width:65px;
height:24px;
}
a.um4:link,a.um4:visited {
background:url(images/um4.gif) no-repeat;
width:86px;
height:24px;
}
a.um5:link,a.um5:visited {
background:url(images/um5.gif) no-repeat;
width:78px;
height:24px;
}

/* =Menu
-------------------------------------------------------------- */
#mainmenu_bg {
	clear:both;
	margin: 0px;
	padding: 0px;
	height: 54px;
	width: 100%;

}
#mainmenu {
	width:1100px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
	}
#mainmenu ul {
	margin:0;
	padding:0;
	list-style:none;
	}
#mainmenu ul li {
	float:left;
	
	}

a.m1:link,a.m1:visited {
	background-image:url(images/m1.gif);
	width:78px;
	height:54px;
	}
a.m1:hover {
	background-image:url(images/m1_on.gif);
	width:78px;
	height:54px;
	}
a.m2:link,a.m2:visited {
	background-image:url(images/m2.gif);
	width:148px;
	height:54px;
	}
a.m2:hover {
	background-image:url(images/m2_on.gif);
	width:148px;
	height:54px;
	}
a.m3:link,a.m3:visited {
	background-image:url(images/m3.gif);
	width:84px;
	height:54px;
	}
a.m3:hover {
	background-image:url(images/m3_on.gif);
	width:84px;
	height:54px;
	}
a.m4:link,a.m4:visited {
	background-image:url(images/m4.gif);
	width:120px;
	height:54px;
	}
a.m4:hover {
	background-image:url(images/m4_on.gif);
	width:120px;
	height:54px;
	}
a.m5:link,a.m5:visited {
	background-image:url(images/m5.gif);
	width:109px;
	height:54px;
	}
a.m5:hover {
	background-image:url(images/m5_on.gif);
	width:109px;
	height:54px;
	}
a.m6:link,a.m6:visited {
	background-image:url(images/m6.gif);
	width:98px;
	height:54px;
	}
a.m6:hover {
	background-image:url(images/m6_on.gif);
	width:98px;
	height:54px;
	}
a.m7:link,a.m7:visited {
	background-image:url(images/m7.gif);
	width:151px;
	height:54px;
	}
a.m7:hover {
	background-image:url(images/m7_on.gif);
	width:151px;
	height:54px;
	}
a.m8:link,a.m8:visited {
	background-image:url(images/m8.gif);
	width:128px;
	height:54px;
	}
a.m8:hover {
	background-image:url(images/m8_on.gif);
	width:128px;
	height:77px;
	}
a.m9:link,a.m9:visited {
	background-image:url(images/m9.gif);
	width:94px;
	height:54px;
	}
a.m9:hover {
	background-image:url(images/m9_on.gif);
	width:94px;
	height:77px;
	}
a.m10:link,a.m10:visited {
	background-image:url(images/m10.gif);
	width:97px;
	height:54px;
	}
a.m10:hover {
	background-image:url(images/m10_on.gif);
	width:97px;
	height:54px;
	}
#access {
	background: #000;
	margin: 0 auto;
	width: 940px;
	display:block;
	float:left;
}
#access .menu-header,
div.menu {
	font-size: 13px;
	margin-left: 12px;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access .menu-header li,
div.menu li {
	float:left;
	position: relative;
}
#access a {
	display:block;
	text-decoration:none;
	color:#aaa;
	padding:0 10px;
	line-height:38px;
}
#access ul ul {
	display:none;
	position:absolute;
	top:38px;
	left:0;
	float:left;
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	width: 180px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 180px;	
}
#access ul ul ul {
	left:100%;
	top:0;
}




#access ul ul a {
	background:#333;
	height:auto;
	line-height:1em;
	padding:10px;
	width: 160px;
}
#access li:hover > a,
#access ul ul :hover > a {
	color:#fff;
	background:#333;
}
#access ul li:hover > ul {
	display:block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}

* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color:#fff;
}
/*flash*/
#midle_flash {
	width:527px;
	height:250px;
	margin-top: 20px;
}
#flash_area {
	width:1107px;
	background: url(images/mainimag_bg.gif) repeat-y;
	height: 40px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	clear: both;
	padding: 0px;
	}
	
	.midasi{
		margin:0 auto;
		width:1107px;
		padding-bottom:20px;
		position:relative;}
		
.midasi .midahi00{
	top:15px;
	left:18px;
	width:100px;
	position:absolute;}		
		
		
#flash_area h2 a {
	width:200px;
	height:80px;
	margin-left:907px;
	text-indent:-2000px;
	display:block;
	margin-top: 20px;
}
#flash_area #caracter {
	width:612px;
	overflow:hidden;
	padding-top: 0px;
	padding-left:470px;
	}
#flash_area ul {
	list-style:none;
	margin:0;
	padding:0;
	}
#flash_area #caracter ul li {
	width:68px;
	height:102px;
	float:left;
	}
#bnr_top {
	width:600px;
	overflow:hidden;
	padding-top: 10px;
	padding-left: 460px;
	}
#bnr_top li {
	text-indent:-2000px;
	float: left;
}
a.bnr_top1 {
	background-image:url(images/top-shiryou.gif);
	width:150px;
	height:40px;
	display:block;
	margin-left: 8px;
	}
a.bnr_top2 {
	background-image:url(images/top-tenjijyou.gif);
	width:120px;
	height:40px;
	display:block;
	}
a.bnr_top3 {
	background-image:url(images/top-toi.gif);
	width:150px;
	height:40px;
	display:block;
	margin-left: 8px;
	}
#rdm_bnr {
	width:237px;
	height:296px;
	overflow:hidden;
	padding-left:16px;
	background-image: url(images/topbnr_bg.gif);
	background-repeat: no-repeat;
	background-position: right;
}
/* =Content
-------------------------------------------------------------- */
#main_top {
	background-image:url(images/cntents_bg_top.gif);
	width:1107px;
	height:11px;
	overflow:hidden;
	margin-bottom:0px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;

	}



#main {
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	width: 1107px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(images/contents_bg_mid.gif);
}


#mainIndex{
	padding: 0px 0 0 0;
	width: 1107px;
	margin: 0px auto 0;
	background-image: url(images/contents_bg_mid.gif);}
#content_front {
	width:1077px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}
#content {
	margin-bottom: 36px;
}

#topix_front ul {
	margin:0px;
	padding:0px;
	list-style-type: none;
	}
#topix_front .area2,#topix_front .area3 {
	width:225px;
	float: left;
	padding-right: 16px;
	padding-left: 16px;
	
	
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	}
#topix_front .area1{
	width:225px;
	position:absolute;
	padding-right: 16px;
	padding-left: 16px;
	height: 250px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top:30px;
	top:4px;
	left: 266px;
	}
	
#topix_front .icon01{
	position:absolute;
	left: 408px;
	top: 5px;
}	
	
	#topix_front .icon02{
	position:absolute;
	left: 153px;
	top: 302px;
}	
#topix_front .icon03{
	position:absolute;
	left: 405px;
	top: 301px;
}	
#topix_front .area1 li {
	background-image: url(images/ico1.gif);
	background-repeat: no-repeat;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#topix_front .area2 li {
	background-image: url(images/ico2.gif);
	background-repeat: no-repeat;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
#topix_front .area3 li {
	background-image: url(images/ico3.gif);
	background-repeat: no-repeat;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
/*#topix_front dd {
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	}*/

.COnER{
	margin:0 auto;
	width:515px;
	padding:30px 0 10px;}
	
.COnER02TOP{
	background: url(images/topi_bg_top02.jpg) top no-repeat;
	width:330px;
	height:7px;}	
	
.COnER02{
	margin:10px auto 0;
	width:330px;
	background-image: url(images/topi_bg_top3.jpg);
	background-repeat: repeat-y;
	float:left;
	padding:0px 0;}
.rss_area1 {
	margin:0 auto;
	width:310px;
	
	}
	
.rss_area1 li{
	list-style:none;}	
	
	
.rss_bana1 {
	margin:0 auto;
	padding:5px 0;
	width:310px;
	
	}	
	
.rss_bana1 img{
	margin-bottom:5px;}	
#topix_front .rss_area2 {
	width:248px;
	padding-right: 0px;
	padding-left: 9px;
	overflow: hidden;
	}
#topix_front ul {
	list-style:none;
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#topix_front .date {
	overflow:hidden;
	float:left;
	margin-right:5px;
	margin-bottom: 5px;
	}
.ttl {
	
	
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCCCCC;
	
	}

.r_box00{
	width:227px;
	text-align:right;
	float:right;}	
	


#past_blog_list {
	width:762px;
	overflow:hidden;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	font-size: 9px;
	line-height: 11px;
	}
#past_blog_list dl {
	margin:0;
	padding:0;
	}
#past_blog_list .ob_area {
	width:101px;
	float:left;
	padding-left:13px;
	padding-right:13px;
	overflow:hidden;
	text-align: center;
	}
.kabata_blog {
	background-image:url(images/kabata_blog.gif);
	text-indent: -20000px;
	display: block;
	height: 94px;
	width: 248px;
	margin-top: 10px;
	}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 16px;
	}
#content p,
#content ul,
#content ol,
#content pre,
#content hr {
	margin-bottom:24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom:0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	margin: 0 0 20px 0;
	line-height: 1.5em;
}
#content table {
	border: 1px solid #e7e7e7;
	text-align: left;
	margin: 0 -1px 24px 0;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 24px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #F2F7FC;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #F2F7FC;
	border-top: 4px solid #000;
	padding: 18px 20px;
	margin-left: -20px;
	margin-right: -20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color:#888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #FF4B33;
}
#content .entry-title {
	color: #006633;
	font-size: 21px;
	line-height: 1.3em;
	font-weight: bold;
	margin-bottom: 0;
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	width: 710px;
	margin-top: 15px;
	padding-left: 80px;
	padding-top: 16px;
	background-position: bottom;
	height: 40px;
}

#content2 .entry-title {
	color: #006633;
	font-size: 21px;
	line-height: 1.3em;
	font-weight: bold;
	margin-bottom: 0;
	background-image: url(images/title_bg.gif);
	background-repeat: no-repeat;
	width: 710px;
	margin-top: 15px;
	padding-left: 80px;
	padding-top: 16px;
	background-position: bottom;
	height: 40px;
}

.entry-title a:link,
.entry-title a:visited {
	color: #006633;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #FF4B33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
	margin-bottom: 20px;
	background-image: url(images/meta_bg.gif);
	background-repeat: no-repeat;
	height: 27px;
	padding-left: 32px;
	float: right;
	width: 220px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 0 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #E7E7E7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	color: #000;
	font-weight:bold;
	margin:0 0 22px 0;
	word-spacing:0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color:#333;
	font-weight:normal;
	padding:0.5em 0.75em;
	text-decoration:none;
}
.home .sticky .page-link a {
	background: #D9E8F7;
}
.page-link a:active,
.page-link a:hover {
	color: #FF4B33;
}
.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #F2F7FC;
	border-top: 4px solid #000;
	padding: 18px 20px;
	margin: 24px 0;
	overflow: hidden;
	clear: both;
	font-size: 14px;
	line-height: 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	margin: 0 -104px 0 0;
	padding: 11px;
	height: 60px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-weight: bold;
	font-size: 100%;
	margin-bottom: 0;
}
.entry-utility {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	clear: both;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #FF4B33;
}
#content .video-player {
	padding: 0;
}



/* Asides
-------------------------------------------------------------- */

.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top:0;
}
.home .hentry.category-asides {
	padding: 0;
}
.home #content .category-asides .entry-content {
	padding-top: 0;
}




/* Gallery listing
-------------------------------------------------------------- */

.category-gallery {
	margin-bottom: 48px;
}
.category-gallery h2 {
	margin-top: 10px;
}
.category-gallery .entry-meta {
}
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.category-gallery .gallery-thumb {
	float: left;
	margin-right:20px;
	margin-top: -4px;
}
.home #content .category-gallery .entry-content p {
	display: inline;
}
.home #content .category-gallery .entry-utility {
	padding-top:4px;
}


/* Attachment pages
-------------------------------------------------------------- */

.entry-content .attachment img {
	margin-bottom: 0;
}
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}



/* Images
-------------------------------------------------------------- */

#content img {
	margin: 0;
	max-width: 640px;
}
#content .attachment img {
	max-width: 900px;
}
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content img.alignleft, 
#content img.alignright, 
#content img.aligncenter {
	margin-bottom: 12px;
}
#content .wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	text-align: center;
	margin-bottom: 20px;
	padding: 4px;
}
#content .wp-caption img {
	margin: 5px 5px 0;
}
#content .wp-caption p.wp-caption-text {
	margin: 5px;
	color: #888;
	font-size: 12px;
}
#content .wp-smiley {
	margin:0;
}
#content .gallery {
	margin: auto;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
#content .gallery img {
	border: 2px solid #cfcfcf;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	border: 10px solid #f1f1f1;
}
#content .gallery br+br {
	display: none;
}



/* =Navigation
-------------------------------------------------------------- */

.navigation {
	font-size:  12px;
	line-height: 18px;
	overflow: hidden;
	color: #888;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #FF4B33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	width: 50%;
	text-align:right;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
.RcontensBanaConB01box{
		float:left;
		width:163px;}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;

	position: relative;
}
.commentlist li:last-child {
	border-bottom:none;
	margin-bottom:0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #FF4B33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #FF4B33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid #e7e7e7;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	display:block;
	margin: 0;
}
#comments .pingback .url {
	font-style: italic;
	font-size: 13px;
}



/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	margin: 24px 0;
	border-top: 1px solid #e7e7e7;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
}
#respond .required {
	color:#FF4B33;
	font-weight:bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin:0 0 9px;
	width:98%;
}
#respond textarea {
	width:98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	width: auto;
	font-size: 14px;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none;
}

.widget_search #s { /* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display:none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width:100%;
}
#wp-calendar caption {
	font-weight: bold;
	color: #222;
	text-align: left;
	font-size:14px;
	padding-bottom: 4px;
}
#wp-calendar thead {
	font-size:11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	padding: 3px 0 2px;
	background: #f5f5f5;
	border:1px solid #fff;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #FF4B33;
}
.widget_rss .widget-title img {
	height: 11px;
	width: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: auto;
	padding: 0;
	width: 217px;
	margin-right: auto;
	list-style-type: none;
}
#main .widget-area ul ul {
	margin-left: 0px;
	padding: 0;
}
#main .widget-area ul li ul li ul li {
	color: #006600;
	background-image: none;
	padding-left: 10px;
	}
#main .widget-area ul li ul li ul li a {
	color: #006600;
	}
#main .widget-area ul ul li {
	background-image:url(images/side_ico.gif);
	background-repeat: no-repeat;
	padding-left: 15px;
	}
#primary {
	background-color:#fcf1bc;
	width: 237px;
	padding-bottom: 10px;
	overflow: hidden;
}
#primary h3 {
	margin-bottom:10px;
	margin-top: 15px;
	}
.widget_pages .widget-title {
	background-image:url(images/side_t1.gif);
	text-indent: -2000px;
	height: 28px;
	width: 217px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
.widget_categories .widget-title {
	background-image:url(images/side_t2.gif);
	text-indent: -2000px;
	height: 28px;
	width: 217px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
.widget_search .widget-title {
	background-image:url(images/side_t3.gif);
	text-indent: -2000px;
	height: 28px;
	width: 217px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}
#rdm_bnr_area {
	width:217px;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:auto;
	margin-right:auto;
	}
/* Footer widget areas */
#footer-widget-area {
}



/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-bottom: 0px;
	width: 1107px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	background-image: url(images/contents_bg_mid.gif);
	overflow: hidden;
	padding-bottom: 10px;
}


#Tlink {
	background-image: url(images/footer_line.gif);
	background-position: center bottom;
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 0px;
	}
	
	#Tlink .Tlink{
		width:1000px;
		margin:0 auto;}
	
	
#toplink {
	background-image: url(images/sv81yhqi.jpg);
	background-position: center bottom;
	width: 1100px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-bottom: 30px;
	background-repeat: no-repeat;
	overflow: hidden;
	padding-top: 15px;
	}
	
#Tlink img{
	margin-bottom:5px;
	margin-right:5px;}	
.toplink_btn {
	background-image:url(images/top_link.gif);
	background-repeat: no-repeat;
	text-indent: -2000px;
	display: block;
	height: 18px;
	width: 107px;
	margin-left: 690px;
	}
#colophon {


	overflow: hidden;
}
#footer_link {
	width:1100px;
	overflow: hidden;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#footer_link ul {
	list-style:none;
	padding:0px;
	width: 1045px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	}
#footer_link ul li {
	float:left;
	width:85px;
	padding-left:5px;
	padding-right:5px;
	text-align: center;
	font-size: 10px;
	line-height: 16px;
	}
#sup {
	width:450px;
	padding-left:610px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
	}
#sup p {
	font-size:0.85em;
	margin-top:5px;
	margin-bottom: 0px;
	}
#site-info {
	margin:0px;
	overflow:hidden;
	height: 21px;
	width: 444px;
	padding-left: 600px;
}
.cp {
	background-image:url(images/cp.gif);
	width:444px;
	height:21px;
	text-indent: -2000px;
	display: block;
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 0px;
	}
#site-generator {
	position: relative;
	font-style: italic;
}
#site-generator a {
	color: #666;
	display:inline-block;
	text-decoration: none;
	background: url(images/wordpress.png) center left no-repeat;
	padding-left: 20px;
	line-height: 16px;
}
#site-generator a:hover {
	text-decoration: underline;
}
img#wpstats {
	display:block;
	margin: 0 auto 10px;
}
#content_btm {
	background-image:url(images/contents_bg_btm.gif);
	width:1107px;
	height:9px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	overflow: hidden;
	}






/* Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}



	/*新しいエリア*/
	
	
	.Flash{
		margin:0 auto;
		
		width:100%;}
	
	
	.Rcontens{
		float:right;
		width:538px;}

.RcontensBana01{
	width:529px;
	padding-bottom:20px;
	background:url(images/rihgt-bg01.jpg) no-repeat bottom;
	}
	
	
.RcontensBana02{
	width:529px;
	padding-bottom:20px;
	background:url(images/rihgt-bg02.jpg) repeat-y;
	}	
	
	.RcontensBanaCon{
		padding-top:20px;
		margin:0 auto;
		width:496px;}
	.RcontensBanaConB{
		margin:0 auto;
		width:500px;}	
	.RcontensBanaConB img{
		margin-bottom:4px;
	
		vertical-align:bottom
		
		}	
		
	.RcontensBanaCon .Title01{
	position:relative;
	
		}	
	.RcontensBanaCon .Title01 h2{
	position:absolute;
	left: 41px;
	top: -65px;
}	

.RcontensBanaCon .Title01 .ki{
	position:absolute;
	left: 428px;
	top: -33px;
}	

.RcontensBana01L{
	float:left;
	
	width:247px;}	
.RcontensBana01R{
	float:right;
	width:245px;}	
.RcontensBana01R img{
	
	vertical-align:bottom;}	
	.MB3px{
			margin-bottom:3px;}	
		.MB5px{
			margin-bottom:5px;}
		.MB4px{
			margin-bottom:4px;}
.RcontensBana01R{
	line-height:14px;}
.Tilte02BG{
	position:relative;
	padding:30px 0 10px;
	text-align:center;
	width:529px;
	background:url(images/title01-bg.jpg) no-repeat top;
}
.Tilte02BG .iconT{
	position:absolute;
	left: 418px;
	top: 10px;
}

.M4pxL{
	margin-left:4px;
}

.BanaTop{
	padding-bottom:10px;}
.M10pxB{
	margin-bottomt:15px;
}
.clear{
	clear:both;}
	
	
.IndexHed{
	width:1107px;
	margin:0 auto;}
.IndexHedL{
	float:left;
	padding-top:20px;
	width:500px;}
.IndexHedLF{
	margin:30px 0 20px;
	width:405px;
	padding:0px;
	background:#FFF;}
	
*:first-child+html .IndexHedLF { margin-top:110px; } 
	
.IndexHedR{
	padding-top:5px;
	float:right;
	width:550px;}	
	
.IndexHedR .sav{
	width:370px;
	float:right;
	padding-bottom:0px;}
.IndexHedR .sav ul{
	margin:0;}	
	.IndexHedR .sav li{
		list-style: none;
		float:left;}
		
.ML10px{
	margin-left:10px;}		
		
.imgL{
	float:left;}		
.imgR{
	float:right;
	}	
	
.NavM{
	position:relative;
	text-align:left;
	width:550px;
	height:300px;
	padding-top:0px;}	
.NavM .no001{
	position:absolute;
	left: 404px;
	top: 70px;
}		
.NavM .no002{
	position:absolute;
	left: 363px;
	top: 112px;
}	
.NavM .no003{
	position:absolute;
	left: 407px;
	top: 156px;
}	
.NavM .no004{
	position:absolute;
	left: 257px;
	top: 156px;
}	
.NavM .no005{
	position:absolute;
	left: 362px;
	top: 201px;
}	
.NavM .no006{
	position:absolute;
	left: 211px;
	top: 201px;
}							
.NavM .no007{
	position:absolute;
	left: 406px;
	top: 245px;
}	
.NavM .no008{
	position:absolute;
	left: 257px;
	top: 245px;
}	
.NavM .no009{
	position:absolute;
	left: 108px;
	top: 245px;
}


.CaracterC{
	margin:0 auto 50px;
	width:1107px;
	padding-bottom:0px;}
.CaracterR{
	width:930px;
	float:right;} 
.CaracterR ul{
	margin-left:0;}	
	
.CaracterR li{
	list-style: none;
	float:left;}	
	
	
	
.SekaH01{
	position:relative;
	padding:20px 0 4px; 
	width:529px;}	
	
.SekaH01 h3{
	margin-left:30px;
	text-align:left;}	
.SekaH01 .iconT02	{
	position:absolute;
	left: 435px;
	top: 28px;
}
	
	
.SekaH02{
	text-align:center;
	margin:0 auto;
	padding:10px 0 4px; 
	width:529px;}		
.SekaH02 img{
	margin-right:20px;}	
.SekaH02 h3{
	margin-left:30px;
	text-align:left;}	
.SekaH02 .iconT03 {
	position:absolute;
	left: 387px;
	top: 29px;
}	
	
	
#GYaPhoto table td{
	margin:0;
	padding:2px 0;}	
	
	
	
#header{
	background:url(images/header-bg.jpg) repeat-x top;}
	
	
	
	
	
	
	
	
	
	
	
	.spl_list .spl_bnr p {
	font-size: 12px;
	line-height: 16px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	}
	
	.spl_list{
	width:166px;
	float: left;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	}
.spl_list .spl_bnr {
	width:163px;
	margin-top: 2px;
	margin-bottom: 2px;
	
	padding-bottom: 0px;
	padding-left: 1px;
	
	}
	
	
	
	.Bottombnaa{
		margin:0 auto;
		padding:0px 0 0;
		width:500px;}
		
		
	.PhotoTop{
		margin:0 auto;
		padding:45px 0 0;
		width:527px;}	
	.PhotoTop01{
		width:166px;
		float:left;}
	.PhotoTop01 img{
		margin-bottom:9px;}	
	.M5pL{
		margin-left:10px;}	
.center-c{
	padding-top:5px;
	text-align:center;}	
			
.center-c02{
	padding:15px 0 5px;
	text-align:center;}				
			
		
		
		.CaracterBlog{
	width:1107px;
	margin:0 auto;
	padding:0px 0 20px;}
	
	
	
	.IndexHedLF{
	margin:10px 0 10px;
	width:405px;
	padding:0px;
	background:#FFF;}


.m10-blog{
	margin-left:12px;}
	
.m10t-blog{
	margin-top:20px;}	
		
/* =Print Style
-------------------------------------------------------------- */

@media print {
	body {
		background:none !important;
	}
	#wrapper {
		float: none !important;
		clear: both !important;
		display: block !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		margin: 0;
		padding:0;
		line-height: 1.4em;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#footer {
	width: 1100px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}

	.wp-caption p {
		font-size: 11pt;
	}
	#site-info {
	width: 444px;
	height: 21px;
	margin: 0px;
	padding-left: 600px;
	overflow: hidden;
	}

	img#wpstats {
		display:none
	}
	#site-generator a {
		padding: 0;
	margin: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display:inline;
	}
	.home .sticky {
		border: none;
	}


.M20px{
	margin-top:20px;}
	


	
